<apex:page controller="FSL.AppointmentBookingCommunityController" standardStylesheets="true" showHeader="false">


    <script>

        var userLocale = "{!UserLocale}";
        var isCommunitiesPage = true;

        var appBooking = {

            isInCommunity:               '{!isInCommunity}',
            appBookingSettings:          JSON.parse('{!JSENCODE(appBookingSettings)}'),
            isAMPM:                      (("{!currentTime}".indexOf('PM') == -1) && ("{!currentTime}".indexOf('AM') == -1)) ? false : true,

            icons: {
                spinner: "{!URLFOR($Resource.FSL__LightningDesignSystem, 'assets/images/spinners/slds_spinner.gif')}"
            },

            fieldNames: {
                settings: {
                    Recommended_Threshold__c:   '{!$ObjectType.FSL__AppointmentBookingSettings__c.fields.FSL__Recommended_Threshold__c.Name}',
                    Ideal_Threshold__c:         '{!$ObjectType.FSL__AppointmentBookingSettings__c.fields.FSL__Ideal_Threshold__c.Name}',
                    Show_Grade_Explanation__c:  '{!$ObjectType.FSL__AppointmentBookingSettings__c.fields.FSL__Show_Grade_Explanation__c.Name}',
                    LazyLoadBookingInHours__c:  '{!$ObjectType.FSL__AppointmentBookingSettings__c.fields.FSL__LazyLoadBookingInHours__c.Name}'
                },

            }
        };


    </script>

    <c:ChatterActionCommunities ></c:ChatterActionCommunities>
    <c:AppointmentBooking ClassName="{!ClassName}"></c:AppointmentBooking>

</apex:page>