<apex:page standardController="Account" showHeader="false" sidebar="false">
    <style>
        .wrapperDiv{
            width:100%;
        }
        .tileDiv{
            border : solid 1px #ddd;
            border-radius:2px;
            margin : 3px;
            width : 18.5%;
            position:relative;
            float:left;
            height:auto;
            padding : 2px;
            color:#bbb;
        }
         .tileDiv2{
            
            margin : 3px;
            width : 18.5%;
            position:relative;
            float:left;
            height:auto;
            padding : 2px;
            color:#bbb;
        }
        .completeDiv{
            border : solid 1px #ddd;
            border-radius:2px;
            margin: 3px;
            width : 97.4%;
            position:relative;
            float:left;
            height:auto;
            padding : 2px;
            color:#bbb;
        }
    </style>
    <apex:form >
        <div class="wrapperDiv">
            <div class="tileDiv">
            	<c:Top5Products />
            </div>
            <div class="tileDiv">
                <c:OutOfCyclePurchase record="{!Account}"/>
            </div>
            <div class="tileDiv">
                <c:ServiceComponents />
            </div>
            <div class="tileDiv2">
            	<c:X4SquareLoyal />  
            </div>
            <div class="tileDiv">
                <c:IdexxOnlineOrders />
            </div>
            <div class="completeDiv">
                <c:SalesHistoryByProduct />
            </div>
            <div class="completeDiv">
                <c:PurchaseHabitByProduct />
            </div>
        </div>
    </apex:form>
</apex:page>