<!--
/**********************************************************************************************************
* Name:                  -  Bill Trust
* Controller:            -  Account (Standard controller)
* Controller Extension:  -
* Relates to User Story: -  US-0833
* Description:           -  This page will allow the user to access invoice when they are on any given Account.
*
*
* Modification Log :
*
*
* ---------------------------------------------------------------------------------------------------------
* Developer                Date           Description
* ---------------------------------------------------------------------------------------------------------
* Lakshmi Quinn            11/06/2015     - Initial creation.

* ***********************************************************************************************************
*   Outstanding Issues:
*
-->

<apex:page sidebar="false" showHeader="false" standardController="Account" extensions="BilltrustController">
  <apex:includeScript value="/support/console/31.0/integration.js"/>
  <style>
    #initial {
        visibility: hidden;
    }
    #theframe {
        visibility: hidden;
      }
    #postback {
        visibility: hidden;
    }
  </style>
  <apex:includeScript value="//code.jquery.com/jquery-2.1.1.min.js"/>

  <div id="initial">
    <apex:iframe id="theFrame" src="{!billtrustURL}" frameborder="false" scrolling="true"/>
  </div>
  <div id="postback">
      <form id="postbackform" method="POST" action="https://secure.billtrust.com/cc90/ccResearch.php">
          <input type="hidden" name="Command" value="SHOWACCTNUM" />
          <input type="hidden" name="ShowAcctNum" value="{!sapId}" />
      </form>
  </div>

  <script>
  function callIframe() {
      $('iframe#theFrame').load(function() {
          var iframeLoggedIn = $('iframe')[0];
          if (iframeLoggedIn) {
              var iframeId = iframeLoggedIn.id;
              if (iframeId && iframeId == 'theFrame') {
                  var btFormToSubmit = $('#postbackform');
                  btFormToSubmit.submit();
                  $('#postback').css("visibility", "visible");
              }
          }
      });
    }
   callIframe();
   </script>

</apex:page>