<apex:page standardcontroller="Account" extensions="idexxPointsExtension" action="{!fetchData}" sidebar="true" showHeader="true" >


 <apex:iframe id="frId" src="{!loc}" frameborder="false"  scrolling="true"/>  

</apex:page>