<apex:page standardController="Account" readOnly="true" extensions="InlineOrderHistoryViewController" showHeader="false">
   <head>
      <apex:includescript value="{!$Resource.jquerymin1_1}" />
      <apex:includeScript value="{!$Resource.jQueryMin1_7_1}"/>
      <apex:includescript value="{!$Resource.jqueryDataTablesMin}" />
      <apex:stylesheet value="{!URLFOR($Resource.JQueryDataTable)}" />
      <apex:stylesheet value="{!URLFOR($Resource.JQueryUI)}" />
      <apex:includeScript value="/soap/ajax/30.0/connection.js"/>
      <apex:includeScript value="/soap/ajax/30.0/apex.js"/>
      <apex:includeScript value="/support/console/35.0/integration.js"/>
      <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" />
      <apex:stylesheet value="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/start/jquery-ui.css"/>
      <style>
         .headerstyle {text-align:left;}
        

            .fixed-table-container {
        <!--width: 175%
        height: 300px;
        border: 1px solid black;
        margin: 10px auto;-->
        background-color: white;
        position: relative;
        padding-top: 20px;

        }
            .fixed-table-containerFull {
        width: 100%
        height: 200px;
        border: 1px solid black;
        margin: 10px auto;
        background-color: white;
        position: relative;
        padding-top: 30px;
        }

      </style>
            <script>
        var lastRow;
         var isRowSelected = false;
         function highlight1(elem){
           console.log(elem);
                isRowSelected = true;
                if(lastRow != undefined) 
                        lastRow.style.backgroundColor = 'white';
                        
                        elem.style.backgroundColor = 'gainsboro';
                        lastRow = elem;
                }
             var ordRefNum;
             var DeliveryNum;
            function getOrderNumberFromRow(ordNum, DelNum) {
                ordRefNum = ordNum; 
                DeliveryNum = DelNum;
                
           } 
           function showAlertMessage(titleText , messageText ){ 
                var box = new SimpleDialog("hashBtnId" + Math.random(), true); 
                parent.box = box; 
                box.setTitle(titleText); 
                box.createDialog(); 
                box.setWidth(350);
                box.setContentInnerHTML("<style>#rowMsg {color: #FF0000; font-size: 14px; font-weight: 100; padding-top: 10px;} #rowBtn {margin-top:20px;}</style><div id='rowMsg'>" + messageText +"</div><div id='rowBtn'><button class='btn' onclick='window.parent.box.hide(); return false;'>OK</button></div>"); 
                box.setupDefaultButtons(); 
                box.show(); 
            } 
            if(typeof jQuery != 'undefined'){
               j$ =jQuery.noConflict(); 
            }
            function showConsoleAlertMessage(msgText) {             
                jQuery('<div id="pId"></div>')
                    .html('<p>'+msgText+'</p>')
                    .dialog({
                    modal: true,
                    draggable: true,
                    height: parseInt(50) + 150,
                    width: parseInt(150) + 250,
                    title: "Order Confirmation", 
                    buttons: {
                         "OK": function() { j$(this).dialog("close");}                 
                    }
                    
                    });            
            }
           function ResendOrderConfirmation(){
            if(isRowSelected ==false) {
                var titleText =  'Order Confirmation';
               var msgText =  'Please select at least one row to resend order confirmation email';       
               
               showConsoleAlertMessage('Please select at least one row to resend order confirmation email.');
               //alert('Please select at least one row to resend order confirmation email'); 
            }
            if(isRowSelected == true) {
            var orderRefNumber = ordRefNum;
            if(typeof(ordRefNum) == "undefined") {
            orderRefNumber = '';
            }
            sforce.connection.sessionId = "{!$Api.Session_ID}";
            var test = sforce.apex.execute("ResendAllConfirmationEmail","resendconfirmation_order",{OrderId:orderRefNumber}); 
            if(typeof(orderRefNumber) == "undefined") { 
                var titleText =  'Order Confirmation';
               var msgText =  'Order Reference Number not found. Cannot resend order confirmation email for Order number '+orderRefNumber;       
               
               showConsoleAlertMessage(msgText);
                //alert('Order Reference Number not found. Cannot resend order confirmation email for Order number '+orderRefNumber); 
                } 
              else if(test == 'success') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Order confirmation email has been sent successfully for order number '+orderRefNumber;       
               
               showConsoleAlertMessage(msgText);
                //alert('Order confirmation email has been sent successfully for order number '+orderRefNumber); 
                } 
              else if(test == 'Failure2') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Order Reference Number is not valid. Cannot resend order confirmation email for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert ('Order Reference Number is not valid. Cannot resend order confirmation email for order number '+orderRefNumber); 
                } 
              else if(test == 'Failure3') { 
                var titleText =  'Order Confirmation';
               var msgText =  'No output exists for this document. Cannot resend order confirmation email for Order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert ('No output exists for this document. Cannot resend order confirmation email for Order number '+orderRefNumber); 
                } 
              else if(test == 'Failure6') { 
              var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend order confirmation email as output is already pending for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert ('Cannot resend order confirmation email as output is already pending for order number '+orderRefNumber); 
                } 
                else if(test == 'Failure11') { 
                    var titleText =  'Order Confirmation';
               var msgText =  'Order confirmation can only be sent for TA order type. Cannot resend order confirmation email for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                    //alert ('Order confirmation can only be sent for TA order type. Cannot resend order confirmation email for order number '+orderRefNumber); 
                } 
              else { 
                    var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend order confirmation email';       
               showConsoleAlertMessage(msgText);;
                  //alert ('Cannot resend order confirmation email'); 
               }

              }
              isRowSelected = false; 
         }
          function ResendShippingConfirmation(){
             if(isRowSelected ==false) {
                var titleText =  'Order Confirmation';
               var msgText =  'Please select at least one row to resend shipping confirmation email';       
               showConsoleAlertMessage(msgText);;
                //alert('Please select at least one row to resend shipping confirmation email'); 
            }
             if(isRowSelected == true) {
             var orderRefNumber = ordRefNum;
             if(typeof(ordRefNum) == "undefined") {
             orderRefNumber = '';
             }
             if(typeof(DeliveryNum) == "undefined") {
             var del1 = '';
             DeliveryNum = del1;
             }
             sforce.connection.sessionId = "{!$Api.Session_ID}";
             var test = sforce.apex.execute("ResendAllConfirmationEmail","resendconfirmation_delivery",{DNum:DeliveryNum}); 
                if (test == 'success') { 
                    var titleText =  'Order Confirmation';
               var msgText =  'Shipping confirmation email has been sent successfully for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                    //alert('Shipping confirmation email has been sent successfully for order number '+orderRefNumber); 
                   } 
                    else if (test == 'Pending') { 
                        var titleText =  'Order Confirmation';
               var msgText =  'Output is already Pending for this document. Cannot resend shipping confirmation email for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                        //alert ('Output is already Pending for this document. Cannot resend shipping confirmation email for order number '+orderRefNumber); 
                   } 
                    else if (test == 'ObjectKeyFailure') { 
                        var titleText =  'Order Confirmation';
                       var msgText =  'Object key not found. Cannot resend shipping confirmation email for order number '+orderRefNumber;       
                       showConsoleAlertMessage(msgText);;
                        //alert ('Object key not found. Cannot resend shipping confirmation email for order number '+orderRefNumber); 
                   } 
                    else if (test == 'Failure5') { 
                        var titleText =  'Order Confirmation';
               var msgText =  'Delivery Number not found. Cannot resend shipping confirmation email for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                        //alert ('Delivery Number not found. Cannot resend shipping confirmation email for order number '+orderRefNumber); 
                    } 
                    else { 
                        var titleText =  'Order Confirmation';
               var msgText =  'Delivery Number is not valid. Cannot resend shipping confirmation email for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                        //alert ('Delivery Number is not valid. Cannot resend shipping confirmation email for order number '+orderRefNumber); 
                    }
                    
               }    
                isRowSelected = false;
             }
             function ResendAllConfirmations(){
             if(isRowSelected ==false) {
                var titleText =  'Order Confirmation';
               var msgText = 'Please select at least one row to resend all confirmation emails';       
               showConsoleAlertMessage(msgText);;
              //alert('Please select at least one row to resend all confirmation emails'); 
             }
             if(isRowSelected == true) {
             if(typeof(DeliveryNum) == "undefined") {
             var del = '';
             DeliveryNum = del;
             }
             orderRefNumber = ordRefNum; 
             if(typeof(ordRefNum) == "undefined") {
             orderRefNumber = '';
             }
             sforce.connection.sessionId = "{!$Api.Session_ID}";
             var test1 = sforce.apex.execute("ResendAllConfirmationEmail","resendconfirmation_order",{OrderId:orderRefNumber}); 
             var test2 = sforce.apex.execute("ResendAllConfirmationEmail","resendconfirmation_delivery",{DNum:DeliveryNum}); 
             if(test1 == 'success' && test2 == 'success') {
                    var titleText =  'Order Confirmation';
               var msgText =  'All confirmation emails have been sent successfully';       
               showConsoleAlertMessage(msgText);; 
                    //alert('All confirmation emails have been sent successfully'); 
                  } 
             else if(orderRefNumber == ' ' && test2 == 'success') 
                { 
                    var titleText =  'Order Confirmation';
               var msgText =  'Shipping confirmation has been sent successfully. Cannot resend order confirmation as object Key is not found';       
               showConsoleAlertMessage(msgText);;
                  //alert('Shipping confirmation has been sent successfully. Cannot resend order confirmation as object Key is not found'); 
                } 
             else if(test1 =='success' && test2 == 'ObjectKeyFailure') {
                var titleText =  'Order Confirmation';
               var msgText =  'Order confirmation has been sent successfully. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);; 
                //alert('Order confirmation has been sent successfully. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber); 
                } 
             else if(test1 =='success' && test2 == 'Pending') { 
                    var titleText =  'Order Confirmation';
               var msgText =  'Order confirmation has been sent successfully. Cannot resend shipping confirmation as Output is already pending for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert('Order confirmation has been sent successfully. Cannot resend shipping confirmation as Output is already pending for order number '+orderRefNumber); 
                } 
             else if(test1 =='success' && test2 == '') { 
                    var titleText =  'Order Confirmation';
               var msgText =  'Order confirmation has been sent successfully. Cannot resend shipping confirmation as Delivery number is not valid for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert('Order confirmation has been sent successfully. Cannot resend shipping confirmation as Delivery number is not valid for order number '+orderRefNumber); 
                } 
             else if(test1 == 'Failure2' || test1 == null && test2 == 'ObjectKeyFailure') { 
                    var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend Shipping confirmation as Delivery Number is not found. Cannot resend order confirmation as Output is already pending for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert('Cannot resend Shipping confirmation as Delivery Number is not found. Cannot resend order confirmation as Output is already pending for order number '+orderRefNumber); 
                } 
             else if(test1 =='' && test2 == 'Pending') { 
                    var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend order confirmation as Order Reference Number is not found. Cannot resend shipping confirmation as Output is already pending for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert('Cannot resend order confirmation as Order Reference Number is not found. Cannot resend shipping confirmation as Output is already pending for order number '+orderRefNumber); 
                } 
            else if(test1 =='Failure2' && test2 == 'success') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Shipping confirmation has been sent successfully. Cannot resend order confirmation as Order Reference Number is not valid for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert('Shipping confirmation has been sent successfully. Cannot resend order confirmation as Order Reference Number is not valid for order number '+orderRefNumber); 
                } 
            else if(test1 == 'Failure11' && test2 == 'Pending') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend order confirmation as order confirmation can only be sent for TA order type. Cannot resend shipping confirmation as output is already pending for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert ('Cannot resend order confirmation as order confirmation can only be sent for TA order type. Cannot resend shipping confirmation as output is already pending for order number '+orderRefNumber); 
                } 
            else if(test1 == 'Failure11' && test2 == 'success') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend order confirmation as order confirmation can only be sent for TA order type. Shipping confirmation has been sent successfully for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert ('Cannot resend order confirmation as order confirmation can only be sent for TA order type. Shipping confirmation has been sent successfully for order number '+orderRefNumber); 
                } 
            else if(test1 == 'Failure11' && test2 == 'ObjectKeyFailure') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend order confirmation as order confirmation can only be sent for TA order type. Cannot resend shipping confirmation as Object key is not found for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert ('Cannot resend order confirmation as order confirmation can only be sent for TA order type. Cannot resend shipping confirmation as Object key is not found for order number '+orderRefNumber); 
                } 
            else if(test1 =='Failure3' && test2 == 'success') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Shipping confirmation has been sent successfully. Cannot resend order confirmation as no output exists for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert('Shipping confirmation has been sent successfully. Cannot resend order confirmation as no output exists for order number '+orderRefNumber); 
                } 
            else if(test1 =='Failure3' && test2 == 'ObjectKeyFailure') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend order confirmation as no output exists for this document. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert('Cannot resend order confirmation as no output exists for this document. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber); 
                } 
            else if(test1 =='Failure6' && test2 == 'ObjectKeyFailure') { 
                var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend order confirmation as output is already pending for this document. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber;       
               showConsoleAlertMessage(msgText);;
                //alert('Cannot resend order confirmation as output is already pending for this document. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber); 
                } 
else { 
    var titleText =  'Order Confirmation';
               var msgText =  'Cannot resend all confirmation emails';       
               showConsoleAlertMessage(msgText);;
                //alert('Cannot resend all confirmation emails'); 
  }
  }
  isRowSelected = false;
                    
         }
   </script>
      <script type="text/javascript">
         function openInConsole(ord) { 
               sforce.connection.sessionId = "{!$Api.Session_ID}";
               console.log('or :'+ord);
               var soql = "Select Id From Order where OrderReferenceNumber="+"'"+ord+"'" + ' ' + "LIMIT 1";
               var records = sforce.connection.query(soql); 
               var records1 = records.getArray("records"); 
               console.log('results:'+records1);
               var orderID  = '';
               for (var i=0; i< records1.length; i++) { 
               var record = records1[i]; 
               orderID = record.Id;  
               console.log('id is:'+orderID);
               } 
               if(orderID!= '') {
               var orderURL = '/'+orderID;
               //window.open(orderURL,'_blank');
               var openSubtab = function openSubtab(result) { 
               var primaryTabId = result.id; 
               sforce.console.openSubtab(primaryTabId , orderURL, true,'', null); 
               //window.location.reload();
               }; 
         
         var openSuccess = function openSuccess(result) {}; 
               if(sforce.console.isInConsole()){ 
               sforce.console.getEnclosingPrimaryTabId(openSubtab); 
               } 
               else { 
               window.open(orderURL,'_blank'); 
                }
            }   
           }  
           function openTrackingURLInConsole(url) { 
               sforce.connection.sessionId = "{!$Api.Session_ID}";
               var redirectUrl = url; 
               if(sforce.console.isInConsole()){ 
                  window.open(redirectUrl,'_blank'); 
               } 
               else { 
               window.open(redirectUrl,'_blank'); 
                }
            }
       // start getInvoiceDetails 
       
       function formattedDate(date) {
           var y1 = date.substr(0,4),
               m1 = date.substr(4,2),
               d1 = date.substr(6,2);
           return [y1, m1, d1].join('-');
        }

        function getInvoiceDetails(salesOrder, salesOrderItem, materialNumber) {
              sforce.connection.sessionId = "{!$Api.Session_ID}";
              //console.log('getInvoiceDetails. salesOrder = ' + salesOrder + ', salesOrderItem = ' + salesOrderItem);
              var soql = "SELECT Invoice__c, InvoiceType__c, InvTypDesc__c, InvoiceDate__c " + 
                        "FROM INVOICE_HISTORY__x WHERE SalesOrder__c="+"'" + salesOrder + "' AND SalesOrderItem__c="+"'" + salesOrderItem + "' ORDER BY InvoiceDate__c DESC LIMIT 500";
              var records = sforce.connection.query(soql); 
              var records1 = records.getArray("records"); 
              console.log('results:'+records1);
              var invTableCSS = "<style>" + ".boxer .box-row { display: table-row;} .headCap { color: #0000FF;} " + 
                ".boxer .box {  display: table-cell; text-align: left; vertical-align: top; padding: 10px; nowrap;} </style>";
              var mastHeadCaption = "<div class='headCap'>Invoice Details for Order Id <strong>" + salesOrder + "</strong> and Material Number <strong>" + materialNumber + "</strong></div>";  
              var headInvoice = '<strong>Invoice Number(s)</strong>';
              var headInvTypeDesc = '<strong>Invoice Desc</strong>';
              var headInvoiceDate = '<strong>Invoice Date</strong>';
              var tableHead = "<div class='boxer'><div class='box-row'>" +
                "<div class='box'>" + headInvoice + "</div>" +
                "<div class='box'>" + headInvTypeDesc + "</div>" +
                  "<div class='box'>" + headInvoiceDate + "</div></div>";
              var tableRowItem = '';
              if (records1) {
                  if (records1.length == 0) {
                      tableHead = "<div>No Invoice Details exist for Order Id <strong>" + salesOrder + "</strong><br/>and Material Number <strong>" + materialNumber + "</strong></div>";                               
                  } else {
                      tableHead = mastHeadCaption + tableHead;
                      for (var i=0; i< records1.length; i++) { 
                          var record = records1[i]; 
                          var itemInvoice = record.Invoice__c; 
                          var itemInvTypeDesc = record.InvTypDesc__c;
                          var itemInvoiceDate = record.InvoiceDate__c;  
                          tableRowItem = tableRowItem + "<div class='box-row'>" +
                              "<div class='box'>" + itemInvoice + "</div>" +
                              "<div class='box'>" + itemInvTypeDesc + "</div>" +
                              "<div class='box'>" + formattedDate(itemInvoiceDate) + "</div></div>";
                     }
                  }
              }

              var innerHtmlTable = invTableCSS + tableHead + tableRowItem + "</div>";
              var htmlWrapper = "<div id='div1' style='height: 200px;'>" +
                "<div id='div2' style='height: inherit; overflow: auto; border:1px solid #efefef;'>" +
                "<div id='div3' style='height:1500px;border:5px solid #fff;'>" + innerHtmlTable + "</div></div></div>"
            
              jQuery('<div></div>')
                .html(htmlWrapper)
                .dialog({
                modal: true,
                draggable: true,
                height: parseInt(100) + 150,
                width: parseInt(200) + 400,
                title: "Invoice Details"
                });
            
        };
        // end getInvoiceDetails         
             var isopenedOrderHistoryExpanded = '{!enableLabsHistListView}';
             function jqueryreload() {
          var isopenedOrderHistoryExpanded = '{!enableLabsHistListView}';
             arry = [
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},              
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true}

                 ];
         var j$ = jQuery.noConflict();
             j$(document).ready( function () {
                 var ordrTable1 = j$('[id$="orderTable"]').DataTable({
                     order: [[0, 'desc']],
                    'bPaginate': true,
                    'bFilter': true,
                    "bLengthChange": false,
                    "iDisplayLength": {!$Label.PaginationValue_OrderHistory},
                    "bScrollCollapse": true,
                    "sScrollY": "390px",
                    "sScrollX": "180%",
                    "scroller": true,
                    
                    "columns": arry,
                 "oLanguage": {
                         "sSearch": "Filter: "
                     }});
              
             })
           }
              function jqueryOnLoad() {
      var cond = '{!enableLabsHistListView}';       
         if(cond=='true'){
             arr = [
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},

                 ];
         }
         else if(cond=='false'){
             arr = [     { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true}];
         }
         var j$ = jQuery.noConflict();
             j$(document).ready( function () {
                 var ordrTable1 = j$('[id$="orderTable"]').DataTable({
                     order: [[0, 'desc']],
                    'bPaginate': true,
                    'bFilter': true,
                    "bLengthChange": false,
                    "iDisplayLength": {!$Label.PaginationValue_OrderHistory},
                    "bScrollCollapse": true,
                    "sScrollY": "390px",
                    "sScrollX": "180%",
                    "scroller": true,
                    
                    
                    "columns": arr,
                 "oLanguage": {
                         "sSearch": "Filter: "
                     }});
              
             })
            }
                    function addLoadEvent(func) {
                      var oldonload = window.onload;
                          if (typeof window.onload != 'function') {
                                    window.onload = func;
                              } else {
                            window.onload = function() {
                              if (oldonload) {
                                oldonload();
                                      }
                                  func();
                                    }
                                  }
                      }
 if(isopenedOrderHistoryExpanded == 'false') {
addLoadEvent(jqueryreload);
}
if(isopenedOrderHistoryExpanded == 'true') {
addLoadEvent(jqueryOnLoad);
}


            
           function jqueryTable() {
           var cond1 = '{!enableLabsHistListView}';   
         if(cond1 =='true'){
             arr1 = [
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},

                 ];
         }
         else if(cond1 =='false'){
             arr1 = [    { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true}];
         }
         var j$ = jQuery.noConflict();
             j$(document).ready( function () {
             var ordTableTemp1 = j$('[id$="orderTable"]').DataTable();
                 ordTableTemp1.destroy();
                 
                 var ordrTable2 = j$('[id$="orderTable"]').DataTable({
                     order: [[0, 'desc']],
                    'bPaginate': true,
                    'bFilter': true,
                    "bLengthChange": false,
                    "fixedHeader": true,
                    "iDisplayLength": {!$Label.PaginationValue_OrderHistory},
                    "bScrollCollapse": true,
                    "sScrollY": "390px",
                    "sScrollX": "180%",
                    "scroller": true,
                    
                    
                    
                    "columns": arr1,
                 "oLanguage": {
                         "sSearch": "Filter: "
                     }});
              
             })
             }
      <apex:includeScript value="/support/console/35.0/integration.js" />
      <apex:includeScript value="/soap/ajax/24.0/connection.js" />
      <apex:includeScript value="/soap/ajax/24.0/apex.js" />
         function openAsASubTab(){
         
             var newSubTabUrl = '/apex/InlineOrderHistoryViewControllerExp?Id={!Account.Id}&dropDown=true'; 
         
             var openSubtab = function openSubtab(result) { 
             var primaryTabId = result.id; 
             sforce.console.openSubtab(primaryTabId , newSubTabUrl, true, 
             'Lab History Expanded View', null, openSuccess, 'OrderHistorySubTab' + '{!Account.Id}'); 
             }; 
         
             var openSuccess = function openSuccess(result) {}; 
             
             if(sforce.console.isInConsole()){ 
             sforce.console.getEnclosingPrimaryTabId(openSubtab); 
             } 
             else { 
             window.open(newSubTabUrl,'_blank'); 
             } 
         }
         </script>
   </head>
   <apex:actionStatus id="statusProcessing">
        <apex:facet name="start">
            <c:loadingStatus ></c:loadingStatus>
        </apex:facet>
    </apex:actionStatus> 
<apex:form id="frm1ID">
<!--apex:actionFunction name="CallviewLabServices" action="{!viewLabServices1}" onComplete="alert('After apex method') ;"/>-->
<apex:outputPanel id="refresh">
<apex:panelGrid columns="8"> 
        <!--apex:commandButton value="Expanded View" onclick="openAsASubTab();" rendered="{!$CurrentPage.parameters.vw != 'full'}"/>-->
        <apex:commandButton value="View Labs History" reRender="refresh" onclick="openAsASubTab()"  rendered="{!AND(profileHelper.isCAG, enableLabsHistListView == 'false')}" oncomplete="jqueryTable();"/>
        <apex:commandButton value="Resend Order Confirmation" status="statusProcessing"  onclick="ResendOrderConfirmation()" rendered="{!AND(profileHelper.isCAG,AND(wrapperSizeCheck == true,enableLabsHistListView == 'false'))}"  oncomplete="jqueryTable();"/>
        <apex:commandButton value="Resend Shipping Confirmation" status="statusProcessing" onclick="ResendShippingConfirmation()" rendered="{!AND(profileHelper.isCAG,AND(wrapperSizeCheck == true,enableLabsHistListView == 'false'))}"  oncomplete="jqueryTable();"/>
        <apex:commandButton value="Resend All Confirmations" status="statusProcessing"  onclick="ResendAllConfirmations()" rendered="{!AND(profileHelper.isCAG,AND(wrapperSizeCheck == true, enableLabsHistListView == 'false'))}"  oncomplete="jqueryTable();"/>
        <apex:selectList size="1" value="{!selectedDate}" multiselect="false" rendered="{!enableLabsHistListView == 'false'}" >
        <apex:selectOptions value="{!options}"/>
        <apex:actionSupport action="{!viewLabServices1}" reRender="frm1ID" status="statusProcessing" event="onchange" oncomplete="jqueryTable();"/>
        </apex:selectList>
        <apex:selectList size="1" value="{!selectedType}" multiselect="false" rendered="{!enableLabsHistListView == 'false'}" >
            <apex:selectOptions value="{!Types}"/>
            <apex:actionSupport action="{!viewLabServices1}" reRender="refreshpageblock" status="statusProcessing" event="onchange" oncomplete="jqueryTable();"/>
        </apex:selectList>
        <!-- 
        <apex:selectList size="1" value="{!selectedOrderByType}" multiselect="false" rendered="{!enableLabsHistListView == 'false'}" >
            <apex:selectOptions value="{!OrderbyTypes}"/>
            <apex:actionSupport action="{!viewLabServices1}" reRender="frm1ID" status="statusProcessing" event="onchange" oncomplete="jqueryTable();"/>
        </apex:selectList>
        <apex:selectList size="1" value="{!selectedPartnerType}" multiselect="false" rendered="{!enableLabsHistListView == 'false'}" >
            <apex:selectOptions value="{!PartnerAccounts}"/>
            <apex:actionSupport action="{!viewLabServices1}" reRender="frm1ID" status="statusProcessing" event="onchange" oncomplete="jqueryTable();"/>
        </apex:selectList>
         -->
        
        
        <apex:selectList size="1" value="{!selectedDate}" multiselect="false" rendered="{!enableLabsHistListView == 'true'}">
        <apex:selectOptions value="{!optionsForLabs}"/>
        <apex:actionSupport action="{!viewLabServices}" reRender="frm1ID" status="statusProcessing" event="onchange" oncomplete="jqueryTable();"/>
        </apex:selectList>
        </apex:panelGrid>
         
        <!--apex:commandButton value="Expanded View" onclick="openAsASubTab();" rendered="{!$CurrentPage.parameters.vw != 'full'}"/>
         
         <div class="{!IF($CurrentPage.parameters.vw != 'full', 'fixed-table-container', 'fixed-table-containerFull')}"/>-->

      <!--<apex:outputPanel rendered="{!hasData}" > -->
       <!--  <apex:commandButton value="Expanded View" onclick="openAsASubTab();" rendered="{!$CurrentPage.parameters.vw != 'full'}"/>
         
         <div class="{!IF($CurrentPage.parameters.vw != 'full', 'fixed-table-container', 'fixed-table-containerFull')}">
             <div class="header-background"> </div>
             <div class="fixed-table-container-inner">
                 <table cellspacing="0">
                     <thead> -->
    <apex:pageBlock id="refreshpageblock" >
         <apex:outputPanel >
            <h2>Order History for {!accountName} [SAP Customer Number: {!truncatedSAPNO}]</h2>
         </apex:outputPanel>
        <apex:pageBlockTable value="{!styleOrdersWrapper}" var="OH" id="orderTable" onrowClick="highlight1(this);">

      <apex:column headerValue="Send Email" headerclass="headerstyle" rendered="{!enableLabsHistListView == 'false'}" value="{!OH.sendEmail}" onclick="getOrderNumberFromRow('{!OH.salesOrder}');" width="5px"/>
      <apex:column headerValue="Order Date" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" width="120px">
               <apex:outputText value="{0,date,MM'-'dd'-'yyyy}"  >
                  <apex:param value="{!OH.createdDate}" />
               </apex:outputText>
            </apex:column>
            <apex:column headerValue="Order Type" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{!OH.SalesDocTyp}"/>
            </apex:column>
            <apex:column headerValue="Order #" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputLink value="#" onclick="openInConsole('{!OH.salesOrder}')" rendered="{!If(OH.POType == 'CRM', true, false)}">{!OH.salesOrder}</apex:outputLink>
               <apex:outputText value="{!OH.salesOrder}" rendered="{!If(OH.POType == 'CRM', false, true)}"/>
            </apex:column>
            <apex:column headerValue="Invoice" headerclass="headerstyle" style="{!OH.style}" rendered="{!enableLabsHistListView == 'false'}">
               <apex:outputLink value="#" onclick="getInvoiceDetails('{!OH.salesOrder}', '{!OH.salesOrderItem}', '{!OH.material}');">
                   <apex:image url="{!$Resource.invoiceIcon}" width="18" height="18"/> 
               </apex:outputLink>
            </apex:column>           
            <apex:column headerValue="Delivery Number" headerclass="headerstyle"  rendered="{!enableLabsHistListView == 'false'}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}" >
               <apex:outputText value="{!OH.delivery}"/>
            </apex:column>
            <apex:column headerValue="Del. Creation Date" headerclass="headerstyle" rendered="{!enableLabsHistListView == 'false'}" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{0,date,MM'-'dd'-'yyyy}">
                  <apex:param value="{!OH.deliveryCreatedOn}" />
               </apex:outputText>
            </apex:column>
            <apex:column headerValue="Shipped Date" headerclass="headerstyle" style="{!OH.style}" rendered="{!enableLabsHistListView == 'false'}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{0,date,MM'-'dd'-'yyyy}">
                  <apex:param value="{!OH.ordershippingdate}" />
               </apex:outputText>
            </apex:column>
            <apex:column headerValue="Tracking" headerclass="headerstyle" style="{!OH.style}" rendered="{!enableLabsHistListView == 'false'}"  onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.trackingNum}" rendered="{!OH.carrierURL= NULL}"/>
               <apex:outputLINK value="#"  onclick="openTrackingURLInConsole('{!OH.carrierURL}');" rendered="{!OH.carrierURL!= NULL}">
                  {!OH.trackingNum}
               </apex:outputLINK>
            </apex:column> 
            <apex:column headerValue="PO Number" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" width="200px">
               <apex:outputText value="{!OH.poNumber}" />
            </apex:column>
            <apex:column headerValue="Material #" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" width="200px">
               <apex:outputText value="{!OH.material}" />
            </apex:column>
            <apex:column headerValue="Description" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.materialDesc}"/>
            </apex:column>
            <apex:column headerValue="Qty" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.orderQty}" />
            </apex:column>
            <apex:column headerValue="Batch/Serial" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.batchNum}" />
            </apex:column>
            <apex:column headerValue="Price" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{0, number, #,###,###.00}" >
               <apex:Param value="{!OH.price}" />
               </apex:outputText>
            </apex:column>
            <apex:column headerValue="Agent" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.CreatedBy}" />
            </apex:column>
            <apex:column headerValue="Ship To" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.ShipToTrimmed}" />
            </apex:column>
            <apex:column headerValue="Ship Method" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.IncoTerm1}"/>
            </apex:column>
            <apex:column headerValue="Plant" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.plant}" />
            </apex:column>
            <apex:column headerValue="Source" headerclass="headerstyle" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');">
               <apex:outputText value="{!OH.POTypeDesc}"/> 
            </apex:column>
            <!-- <apex:column headerValue="POD" headerclass="headerstyle">        <apex:outputText value="{!OH.poNumShipTo}"/>    </apex:column> -->
       

       
            <!-- <apex:column headerValue="POD" headerclass="headerstyle">        <apex:outputText value="{!OH.poNumShipTo}"/>    </apex:column> -->
        </apex:pageBlockTable>
        
         <apex:outputPanel rendered="{!AND(OrderHistLst.size == 0,labsSizeCheck == true)}" styleClass="custom1">
            <apex:outputLabel Value="{!errorMsg}" rendered="{!$Profile.Name=='System Administrator'}"/>
         </apex:outputPanel>
         <apex:outputPanel rendered="{!labsSizeCheck == true}" styleClass="custom1">
            <apex:outputLabel Value="{!errorMsg}" rendered="{!$Profile.Name=='System Administrator'}"/>
         </apex:outputPanel>
    </apex:pageBlock>
    </apex:outputPanel>
</apex:form>
</apex:page>