<apex:page standardController="Account" extensions="InlineOrderHistoryViewController" showHeader="false">
   <head>
      <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" />
      <apex:includescript value="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
      <apex:stylesheet value="{!URLFOR($Resource.JQueryDataTable)}" />
      <apex:stylesheet value="{!URLFOR($Resource.JQueryUI)}" />
      <apex:includeScript value="/soap/ajax/30.0/connection.js"/>
      <apex:includeScript value="/soap/ajax/30.0/apex.js"/>
      <apex:includeScript value="/support/console/35.0/integration.js"/>
      <!--script src="/soap/ajax/24.0/connection.js" type="text/javascript"></script>-->
      <!--script src="/soap/ajax/30.0/apex.js" type ="text/javascript"></script>-->
      <!--script src="/support/console/35.0/integration.js" type="text/javascript"></script>-->
      
      <style>
         .headerstyle {text-align:left;}
        

            .fixed-table-container {
           
        <!--width: 175%
        height: 300px;
        border: 1px solid black;
        margin: 10px auto;-->
        background-color: white;
        position: relative;
        padding-top: 20px;

        }
            .fixed-table-containerFull {
        width: 100%
        height: 200px;
        border: 1px solid black;
        margin: 10px auto;
        background-color: white;
        position: relative;
        padding-top: 30px;
        }

      </style>
      <script>
         var lastRow;
         var isRowSelected = false;
         function highlight1(elem){
                isRowSelected = true;
                if(lastRow != undefined) 
                        lastRow.style.backgroundColor = 'white';
                        
                        elem.style.backgroundColor = 'gainsboro';
                        lastRow = elem;
                }
             var ordRefNum;
             var DeliveryNum;
            function getOrderNumberFromRow(ordNum, DelNum) {
                ordRefNum = ordNum; 
                DeliveryNum = DelNum;
           } 
           function ResendOrderConfirmation(){
            if(isRowSelected ==false) {
               alert('Please select at least one row to resend order confirmation email'); 
            }
            if(isRowSelected == true) {
            var orderRefNumber = ordRefNum;
            if(typeof(ordRefNum) == "undefined") {
            orderRefNumber = '';
            }
            sforce.connection.sessionId = "{!$Api.Session_ID}";
            var test = sforce.apex.execute("ResendAllConfirmationEmail","resendconfirmation_order",{OrderId:orderRefNumber}); 
            if(typeof(orderRefNumber) == "undefined") { 
                alert('Order Reference Number not found. Cannot resend order confirmation email'); 
                } 
              else if(test == 'success') { 
                alert('Order confirmation email has been sent successfully for order number '+orderRefNumber); 
                } 
              else if(test == 'Failure2') { 
                alert ('Order Reference Number is not valid. Cannot resend order confirmation email for order number '+orderRefNumber); 
                } 
              else if(test == 'Failure3') { 
                alert ('No output exists for this document. Cannot resend order confirmation email for Order number '+orderRefNumber); 
                } 
              else if(test == 'Failure6') { 
                alert ('Cannot resend order confirmation email as output is already pending for order number '+orderRefNumber); 
                } 
              else if(test == 'Failure11') { 
                alert ('Order confirmation can only be sent for TA order type. Cannot resend order confirmation email for order number '+orderRefNumber); 
                } 
              else { 
                alert ('Cannot resend order confirmation email'); 
               }

              }
              isRowSelected = false; 
             }
          function ResendShippingConfirmation(){
            if(isRowSelected ==false) {
               alert('Please select at least one row to resend shipping confirmation email'); 
            }
            if(isRowSelected == true) {
             var orderRefNumber = ordRefNum;
             if(typeof(ordRefNum) == "undefined") {
             orderRefNumber = '';
             }
             if(typeof(DeliveryNum) == "undefined") {
             var del1 = '';
             DeliveryNum = del1;
             }
             sforce.connection.sessionId = "{!$Api.Session_ID}";
             var test = sforce.apex.execute("ResendAllConfirmationEmail","resendconfirmation_delivery",{DNum:DeliveryNum}); 
                if (test == 'success') { 
                    alert('Shipping confirmation email has been sent successfully for order number '+orderRefNumber); 
                   } 
                    else if (test == 'Pending') { 
                    alert ('Output is already Pending for this document. Cannot resend shipping confirmation email for order number '+orderRefNumber); 
                   } 
                    else if (test == 'ObjectKeyFailure') { 
                    alert ('Object key not found. Cannot resend shipping confirmation email for order number '+orderRefNumber); 
                   } 
                    else if (test == 'Failure5') { 
                    alert ('Delivery Number not found. Cannot resend shipping confirmation email for order number '+orderRefNumber); 
                    } 
                    else { 
                    alert ('Delivery Number is not valid. Cannot resend shipping confirmation email for order number '+orderRefNumber); 
                    }
                    
               }    
                isRowSelected = false;
             }
             function ResendAllConfirmations(){
             if(isRowSelected ==false) {
               alert('Please select at least one row to resend all confirmation emails'); 
            }
                if(isRowSelected == true) {
             if(typeof(DeliveryNum) == "undefined") {
             var del = '';
             DeliveryNum = del;
             }
             orderRefNumber = ordRefNum; 
             if(typeof(ordRefNum) == "undefined") {
             orderRefNumber = '';
             }
             sforce.connection.sessionId = "{!$Api.Session_ID}";
             var test1 = sforce.apex.execute("ResendAllConfirmationEmail","resendconfirmation_order",{OrderId:orderRefNumber}); 
             var test2 = sforce.apex.execute("ResendAllConfirmationEmail","resendconfirmation_delivery",{DNum:DeliveryNum});
             if(test1 == 'success' && test2 == 'success') { 
                    alert('All confirmation emails have been sent successfully'); 
                  } 
             else if(orderRefNumber == ' ' && test2 == 'success') 
                { 
                  alert('Shipping confirmation has been sent successfully. Cannot resend order confirmation as Order Reference Number is blank for order number '+orderRefNumber); 
                } 
             else if(test1 =='success' && test2 == 'ObjectKeyFailure') { 
                alert('Order confirmation has been sent successfully. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber); 
                } 
             else if(test1 =='success' && test2 == 'Pending') { 
                alert('Order confirmation has been sent successfully. Cannot resend shipping confirmation as Output is already pending for order number '+orderRefNumber); 
                } 
             else if(test1 =='success' && test2 == '') { 
                alert('Order confirmation has been sent successfully. Cannot resend shipping confirmation as Delivery number is not valid for order number '+orderRefNumber); 
                } 
             else if(test1 == 'Failure2' || test1 == null && test2 == 'ObjectKeyFailure') { 
                alert('Cannot resend Shipping confirmation as Delivery Number is not found. Cannot resend order confirmation as Output is already pending for order number '+orderRefNumber); 
                } 
             else if(test1 =='' && test2 == 'Pending') { 
                alert('Cannot resend order confirmation as Order Reference Number is not found. Cannot resend shipping confirmation as Output is already pending for order number '+orderRefNumber); 
                } 
            else if(test1 =='Failure2' && test2 == 'success') { 
                alert('Shipping confirmation has been sent successfully. Cannot resend order confirmation as Order Reference Number is not valid for order number '+orderRefNumber); 
                } 
            else if(test1 =='Failure3' && test2 == 'success') { 
                alert('Shipping confirmation has been sent successfully. Cannot resend order confirmation as no output exists for order number '+orderRefNumber); 
                } 
            else if(test1 == 'Failure11' && test2 == 'Pending') { 
                alert ('Cannot resend order confirmation as order confirmation can only be sent for TA order type. Cannot resend shipping confirmation as output is already pending for order number '+orderRefNumber); 
                } 
            else if(test1 == 'Failure11' && test2 == 'success') { 
                alert ('Cannot resend order confirmation as order confirmation can only be sent for TA order type. Shipping confirmation has been sent successfully for order number '+orderRefNumber); 
                } 
            else if(test1 == 'Failure11' && test2 == 'ObjectKeyFailure') { 
                alert ('Cannot resend order confirmation as order confirmation can only be sent for TA order type. Cannot resend shipping confirmation as Object key is not found for order number '+orderRefNumber); 
                } 
            else if(test1 =='Failure3' && test2 == 'ObjectKeyFailure') { 
                alert('Cannot resend order confirmation as no output exists for this document. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber); 
                } 
            else if(test1 =='Failure6' && test2 == 'ObjectKeyFailure') { 
                alert('Cannot resend order confirmation as output is already pending for this document. Cannot resend shipping confirmation as object key is not found for order number '+orderRefNumber); 
                } 
else { 
alert('Cannot resend all confirmation emails'); 
  }
  }
  isRowSelected = false;
}
   </script>
      <script type="text/javascript">
         function openInConsole(ord) { 
               console.log('or :'+ord);
               var soql = "Select Id From Order where OrderReferenceNumber="+"'"+ord+"'" + ' ' + "LIMIT 1";
               var records = sforce.connection.query(soql); 
               var records1 = records.getArray("records"); 
               var orderID  = '';
               for (var i=0; i< records1.length; i++) { 
               var record = records1[i]; 
               orderID = record.Id;  
               //var test = sforce.apex.execute("InlineOrderHistoryViewController","showOrHideHyperLink",{orderID}); 
               //console.log('return value is'+test);
               //console.log('id is:'+orderID);
               } 
               if(orderID!= '') {
               var orderURL = '/'+orderID;
               //window.open(orderURL,'_blank');
               var openSubtab = function openSubtab(result) { 
               var primaryTabId = result.id; 
               sforce.console.openSubtab(primaryTabId , orderURL, true,'', null); 
               //window.location.reload();
               }; 
         
         var openSuccess = function openSuccess(result) {}; 
               if(sforce.console.isInConsole()){ 
               sforce.console.getEnclosingPrimaryTabId(openSubtab); 
               } 
               else { 
               window.open(orderURL,'_blank'); 
                }
            }   
           }  
           <!--commenting this function because of security issues that we are facing while accesing hyperlinks that will take users to carrier's websites DHL, FedEx..etc)>-->
           /*function openTrackingURLInConsole(url) { 
               var redirectUrl = url; 
               var openSubtab = function openSubtab(result) { 
               var primaryTabId = result.id; 
               sforce.console.openSubtab(primaryTabId, redirectUrl, true,'Tracking Website', null); 
               //window.location.reload();
               }; 
         
         var openSuccess = function openSuccess(result) {}; 
               if(sforce.console.isInConsole()){ 
               sforce.console.getEnclosingPrimaryTabId(openSubtab); 
               } 
               else { 
               window.open(redirectUrl,'_blank'); 
                }
            }*/
           <!--Duplicating this to show filters and error message when there is no data>-->
         window.onload = function jqueryOnLoad() {
         var j$ = jQuery.noConflict();
         var arr =[];
         var pglength;
         var cond = '{!displayLength}';          
         console.log('condition is:'+cond);
         if(cond=='true'){
             arr = [[5,10,15,-1], [5,10,15,"All"]];
             pglength = "525px";
         }
         else if(cond=='false'){
             arr = [[5],[5]];
             pglength = "200px";
         }
              j$(document).ready( function () {
              
                 var ordTable = j$('[id$="orderTable"]').DataTable({
                     order: [[0, 'desc']],
                    'bPaginate': true,
                    'bSort':false,                    
                    'bFilter': true,
                    "bLengthChange": false,
                    "iDisplayLength": {!$Label.PaginationValue_OrderHistory},
                    "bScrollCollapse": true,
                    "sScrollY": "{!IF($CurrentPage.parameters.vw != 'full', 600, '')}",
                    "sScrollX": "180%",
                    
                    "columns": [
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true}

                 ],
                 "oLanguage": {
                         "sSearch": "Filter: "
                     }});
              
             })
           }  
           function jquery1() {
         var j$ = jQuery.noConflict();
         var arr =[];
         var pglength;
         var cond = '{!displayLength}';          
         console.log('condition is:'+cond);
         if(cond=='true'){
             arr = [[5,10,15,-1], [5,10,15,"All"]];
             pglength = "525px";
         }
         else if(cond=='false'){
             arr = [[5],[5]];
             pglength = "200px";
         }
              j$(document).ready( function () {
                 var ordTableTemp = j$('[id$="orderTable"]').DataTable();
                 ordTableTemp.destroy();
     
                 var ordTable1 = j$('[id$="orderTable"]').DataTable({
                     order: [[0, 'asc']],
                    'bPaginate': true,                    
                    'bSort':false,
                    'bFilter': true,
                    "bLengthChange": false,
                    "bAutoWidth": false,
                    "iDisplayLength": {!$Label.PaginationValue_OrderHistory},
                    "bScrollCollapse": true,
                    "sScrollY": "{!IF($CurrentPage.parameters.vw != 'full', 600, '')}",
                    "sScrollX": "180%",
                    
                    "columns": [
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true},
                         { "bSortable": false, "bSearchable": true}

                 ],
                 "oLanguage": {
                         "sSearch": "Filter: "
                     }});
             })
             
           }  
      
               
      <apex:includeScript value="/support/console/35.0/integration.js" />
      <apex:includeScript value="/soap/ajax/24.0/connection.js" />
      <apex:includeScript value="/soap/ajax/24.0/apex.js" />
     
         function openAsASubTab(){
         
             var newSubTabUrl = '/apex/InlineOrderHistoryViewControllerExp?Id={!Account.Id}&dropDown=true'; 
         
             var openSubtab = function openSubtab(result) { 
             var primaryTabId = result.id; 
             sforce.console.openSubtab(primaryTabId , newSubTabUrl, true, 
             'Labs History Expanded View', null, openSuccess, 'OrderHistorySubTab' + '{!Account.Id}'); 
             }; 
         
             var openSuccess = function openSuccess(result) {}; 
             
             if(sforce.console.isInConsole()){ 
             sforce.console.getEnclosingPrimaryTabId(openSubtab); 
             } 
             else { 
             window.open(newSubTabUrl,'_blank'); 
             } 
         }
       </script>         
   </head>
   <apex:actionStatus id="statusProcessing">
        <apex:facet name="start">
            <c:loadingStatus ></c:loadingStatus>
        </apex:facet>
    </apex:actionStatus>
 <apex:form id="frmID">
 <apex:outputPanel id="refreshpanel">
        <apex:panelGrid columns="5"> 
        <!--apex:commandButton value="Expanded View" onclick="openAsASubTab();" rendered="{!$CurrentPage.parameters.vw != 'full'}"/>-->
        <apex:commandButton value="Resend Order Confirmation" status="statusProcessing"  onclick="ResendOrderConfirmation()" reRender="refreshpanel" rendered="{(!styleOrdersWrapper!=null) || (!styleOrdersWrapper.size>0)}" oncomplete="jquery1();"/>
        <apex:commandButton value="Resend Shipping Confirmation" status="statusProcessing" onclick="ResendShippingConfirmation()" reRender="refreshpanel" rendered="{(!styleOrdersWrapper!=null) || (!styleOrdersWrapper.size>0)}" oncomplete="jquery1();"/>
        <apex:commandButton value="Resend All Confirmations" status="statusProcessing"  onclick="ResendAllConfirmations()"  reRender="refreshpanel" rendered="{(!styleOrdersWrapper!=null) || (!styleOrdersWrapper.size>0)}" oncomplete="jquery1();"/>
        <apex:selectList size="1" value="{!selectedDate}" multiselect="false"  >
        <apex:selectOptions value="{!OptionsForwater}"/>
        <apex:actionSupport action="{!viewLabServices1}" reRender="refreshpanel" status="statusProcessing" event="onchange" oncomplete="jquery1();"/>
        </apex:selectList>
        <!-- <apex:selectList size="1" value="{!selectedType}" multiselect="false" rendered="{!enableLabsHistListView == 'true'}" > -->
         <apex:selectList size="1" value="{!selectedType}" multiselect="false" >
            <apex:selectOptions value="{!Types}"/>
            <apex:actionSupport action="{!viewLabServices1}" reRender="refreshpanel" status="statusProcessing" event="onchange" oncomplete="jquery1();"/>
        </apex:selectList>
        </apex:panelGrid>
        
         <div class="{!IF($CurrentPage.parameters.vw != 'full', 'fixed-table-container', 'fixed-table-containerFull')}"/>

      <!--<apex:outputPanel rendered="{!hasData}" > -->
       <!--  <apex:commandButton value="Expanded View" onclick="openAsASubTab();" rendered="{!$CurrentPage.parameters.vw != 'full'}"/>
         
         <div class="{!IF($CurrentPage.parameters.vw != 'full', 'fixed-table-container', 'fixed-table-containerFull')}">
             <div class="header-background"> </div>
             <div class="fixed-table-container-inner">
                 <table cellspacing="0">
                     <thead> -->
    <apex:pageBlock id="pgblock">
         <apex:outputPanel >
            <h2>Order History for {!Account.Name} [SAP Customer Number: {!Account.SAP_Customer_Number__c}]</h2>
         </apex:outputPanel>
        <apex:pageBlockTable value="{!styleOrdersWrapper}" var="OH" id="orderTable" rules="rows" onrowClick="highlight1(this);">
       <apex:column headerValue="Send Email" headerclass="headerstyle" value="{!OH.sendEmail}" onclick="getOrderNumberFromRow('{!OH.salesOrder}');" width="5px"/>
      <apex:column headerValue="Order Date" onclick="getOrderNumberFromRow('{!OH.salesOrder}');" style="{!OH.style}" width="160px">
               <apex:outputText value="{0,date,MM'-'dd'-'yyyy}"  >
                  <apex:param value="{!OH.createdDate}" />
               </apex:outputText>
            </apex:column>
            <apex:column headerValue="Order Type" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{!OH.SalesDocTyp}" />
            </apex:column>
            <apex:column headerValue="Order #" style="{!OH.style}" onclick="getOrderNumberFromRow('{!OH.salesOrder}');">
               <apex:outputLink value="#" onclick="openInConsole('{!OH.salesOrder}')" rendered="{!If(OH.POType == 'CRM', true, false)}">{!OH.salesOrder}</apex:outputLink>
               <apex:outputText value="{!OH.salesOrder}" rendered="{!If(OH.POType == 'CRM', false, true)}"/>
            </apex:column>
            <apex:column headerValue="Delivery Number" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{!OH.delivery}"/>
            </apex:column>
            <apex:column headerValue="Del. Creation Date" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{0,date,MM'-'dd'-'yyyy}">
                  <apex:param value="{!OH.deliveryCreatedOn}" />
               </apex:outputText>
            </apex:column>
            <apex:column headerValue="Shipped Date" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{0,date,MM'-'dd'-'yyyy}">
                  <apex:param value="{!OH.ordershippingdate}" />
               </apex:outputText>
            </apex:column>
            <apex:column headerValue="Tracking" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{!OH.trackingNum}" rendered="{!OH.carrierURL= NULL}"/>
               <apex:outputLINK value="{!OH.carrierURL}"  target="_blank" rendered="{!OH.carrierURL!= NULL}">
                  {!OH.trackingNum}
               </apex:outputLINK>
            </apex:column> 
                 <apex:column headerValue="PO Number" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}" width="160px">
               <apex:outputText value="{!OH.poNumber}" />
            </apex:column>
            <apex:column headerValue="Material #" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}" width="160px">
               <apex:outputText value="{!OH.material}" />
            </apex:column>
            <apex:column headerValue="Description" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{!OH.materialDesc}"/>
            </apex:column>
            <apex:column headerValue="Qty" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{!OH.orderQty}" />
            </apex:column>
            <apex:column headerValue="Batch/Serial" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{!OH.batchNum}" />
            </apex:column>
            <apex:column headerValue="Price" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}', '{!OH.delivery}');" style="{!OH.style}">
               <apex:outputText value="{0, number, #,###,###.00}" > 
               <apex:Param value="{!OH.price}" />
               </apex:outputText>
            </apex:column>
            <apex:column headerValue="Agent" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}');" style="{!OH.style}">
               <apex:outputText value="{!OH.CreatedBy}" />
            </apex:column>
            <apex:column headerValue="Ship To" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}');" style="{!OH.style}">
               <apex:outputText value="{!OH.ShipToTrimmed}" />
            </apex:column>
            <apex:column headerValue="Ship Method" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}');" style="{!OH.style}">
               <apex:outputText value="{!OH.IncoTerm1}"/>
            </apex:column>
            <apex:column headerValue="Plant" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}');" style="{!OH.style}">
               <apex:outputText value="{!OH.plant}" />
            </apex:column>
            <apex:column headerValue="Source" headerclass="headerstyle" onclick="getOrderNumberFromRow('{!OH.salesOrder}');" style="{!OH.style}">
               <apex:outputText value="{!OH.POTypeDesc}"/> 
            </apex:column>
            <!-- <apex:column headerValue="POD" headerclass="headerstyle">        <apex:outputText value="{!OH.poNumShipTo}"/>    </apex:column> -->
       

       
            <!-- <apex:column headerValue="POD" headerclass="headerstyle">        <apex:outputText value="{!OH.poNumShipTo}"/>    </apex:column> -->
        </apex:pageBlockTable>
        
         <apex:outputPanel rendered="{!OrderHistLst.size = 0}" styleClass="custom1">
            <apex:outputLabel Value="{!errorMsg}" rendered="{!$Profile.Name=='System Administrator'}"/>
         </apex:outputPanel>
    </apex:pageBlock>
   </apex:outputPanel>
 </apex:form>
</apex:page>