<apex:page standardController="Account" extensions="InlineCAGSalesHistoryQuantityController">
       
        <table  style="width:100%">
                <th style="width:35%"> PRODUCT NAME</th>
                <th style= "width:54%">  PRODUCT LINE</th>
                <th style="width:12%"> CURRENT MONTH</th>
                <th style="width:40%"> CURRENT MONTH AN YEAR AGO</th>
        </table> 
              
            <div style=" height: 200px; overflow : scroll;">
                <table  style="width:100%"> 
            <apex:repeat value="{!CAGSalesHistoryList}" var="CAGSalesHistory">
                <tr>
                    <td>{!CAGSalesHistory.Product_Name__c}</td>
                     <td>{!CAGSalesHistory.PRODUCT_LINE__c }</td>
                      <td>{!CAGSalesHistory.Quantity_Current_Month__c}</td>
                      <td>{!CAGSalesHistory.Quantity_Current_Month_Year_Ago__c }</td>
                </tr>
            </apex:repeat>
          

        </table>
        </div> 

    </apex:page>