<apex:page standardController="Account" extensions="LabOrdersControllerExtension" action="{!startRequest}"  standardStylesheets="false" showHeader="false" applyBodyTag="false" docType="html-5.0" applyHtmlTag="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">   
        <head>
            <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" />
            <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"/>
            <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/js/jquery.tablesorter.min.js" />
            <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" />
            <apex:includeScript value="{!URLFOR($Resource.aljs, '/jquery/jquery.aljs-init.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.aljs, '/jquery/jquery.aljs-all.min.js')}" />
            <apex:stylesheet value="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/css/theme.blue.css" />
            <apex:stylesheet value="{!URLFOR($Resource.slds, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.formStyles)}"/>
            <apex:includeScript value="/support/console/26.0/integration.js"/>  
            
        </head>
        <body style="margin-top:5px;">
            <apex:outputPanel styleClass="slds" id="div1">
                <apex:outputText value="{!errorMsg}" id="emsg" rendered="false" />
                <apex:pageMessage rendered="{!(errorMsg != null)}" summary="{!errorMsg}" severity="warning" strength="2" id="eM"/>
            </apex:outputPanel>
            <div class="slds">
                <apex:form id="form" styleClass="slds-grid" rendered="{!limsIds.size>0}">
                    <div class="slds-col slds-size--4-of-12 slds-med-size--4-of-12 slds-small-size--6-of-6" >
                        <apex:image url="{!$Resource.IDEXX_logo}" width="300" height="60" style="vertical-align:sub;"/>
                        <h1 class="slds-text-heading--large" title="Lab Accessions" style="display:inline;color:#848484;">Lab Accessions</h1>  
                        <div class="slds-button-group" role="group">
                            <apex:commandButton action="{!startRequest}" styleclass="slds-button slds-button--neutral" id="actionBtn" oncomplete="tableSort();enable(this,'Fetch More Records');overridePageMessages();getVals();j$('.twitter-typeahead').css('display','block');"   onclick="disableOnSubmit(this);" disabled="false"  rerender="result,result2,div1"  value="Fetch More Records"/> 
                            <apex:commandButton action="{!fetchGuids}" styleclass="slds-button slds-button--neutral" id="actionBtn2" oncomplete="tableSort();enable(this,'Fetch Image Scans');overridePageMessages();getVals();j$('.twitter-typeahead').css('display','block');"   onclick="disableOnSubmit(this);" disabled="false"  rerender="result,result2,div1"  value="Fetch Image Scans"/> 
                        </div>
                    </div>
                    <div class="slds-col slds-size--6-of-12 slds-med-size--6-of-12 slds-small-size--6-of-6" style="padding-top:2%;">
                        <div class="slds-form--horizontal">
                            <!-- Datepicker -->
                            <div class="slds-form-element" id="enDateWrapper">
                                <label class="slds-form-element__label" for="inputSample2">
                                    <span class="slds-show--inline-block slds-p-around--x-small" tabindex="1" data-aljs="popover" data-aljs-placement="left" 
                                          title="The historical date (no more than 90 days less than the to date)">
                                        From Date</span></label>
                                <div class="slds-form-element__control">
                                    <div class="slds-input-has-icon slds-input-has-icon--right">
                                        <a id="enDate" href="#">
                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                <use xlink:href="{!URLFOR($Resource.slds)}/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                                            </svg>
                                        </a>
                                        <apex:input value="{!endDate}" styleClass="slds-input" id="enDatePicker" type="date" />
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element" id="stDateWrapper">
                                <label class="slds-form-element__label" for="inputSample2">
                                    <span class="slds-show--inline-block slds-p-around--x-small" tabindex="1" data-aljs="popover" data-aljs-placement="left" title="The more recent date">
                                        To Date</span></label>
                                <div class="slds-form-element__control">
                                    <div class="slds-input-has-icon slds-input-has-icon--right">
                                        <a id="stDate" href="#">
                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                <use xlink:href="{!URLFOR($Resource.slds)}/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                                            </svg>
                                        </a>
                                        <apex:input value="{!startDate}" styleClass="slds-input" id="stDatePicker" type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:form> 
                <apex:pageBlock >
                    <div class="slds-tabs--default" data-aljs="tabs"  rendered="{!limsIds.size>1}">
                        <ul class="slds-tabs--default__nav" role="tablist">
                            <li class="slds-tabs--default__item slds-text-heading--label slds-active" title="Item One" role="presentation">
                                <a class="slds-tabs--default__link" href="#void" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item" data-aljs-show="tab-default-1">Lims <span id="lim1"></span></a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-heading--label" id="limTab2" title="Item Two" role="presentation">
                                <a class="slds-tabs--default__link"  href="#void" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item" data-aljs-show="tab-default-2">
                                    Lims <span id="lim2"></span></a>
                            </li>
                        </ul>
                        <div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item" rendered="{!limsIds.size>0}">
                            <apex:pageBlock id="result">
                                <apex:outputText value="Showing 1 - {!resultList1.size} records  " styleClass="slds-text-heading--label slds-m-bottom--small"/>
                                <div class="slds-grid">
                                    <div class="slds-col slds-size--3-of-12">
                                        <div class="slds-lookup" data-select="single" data-scope="single">
                                            <div class="slds-form-element">
                                                <div id="lookup1" class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right"> 
                                                    <input id="lookup-1" class="typeahead slds-input" type="text" aria-autocomplete="inline" placeholder="Search By Owner" label="search"/>
                                                    <a class="closeIcon" data="lookup-1">
                                                        <svg aria-hidden="true" class="slds-input__icon search" id="lookup-1svg">                                                      
                                                        </svg>
                                                    </a>     
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size--3-of-12">
                                        <div class="slds-lookup" data-select="single" data-scope="single">
                                            <div class="slds-form-element">
                                                <div id="lookup2" class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">  
                                                    <input id="lookup-2" class="typeahead slds-input" type="text" aria-autocomplete="inline" placeholder="Search By Patient"  label="search"/>
                                                    <a class="closeIcon" data="lookup-2">
                                                        <svg aria-hidden="true" class="slds-input__icon search" id="lookup-2svg">                                                      
                                                        </svg>
                                                    </a>  
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size--2-of-12">
                                        <button class="slds-button slds-button--neutral" id="reset1" >Reset Filter</button>
                                    </div>
                                    <div class="slds-col slds-size--4-of-12">
                                    </div>
                                </div>
                           
                                <apex:pageBlockTable value="{!resultList1}" var="list" style="word-wrap: break-word;"  id="r1" styleClass="tablesorter">
                                    <apex:column title="results" headerValue="Requisition ID" value="{!list['requisition']}" />
                                    <apex:column title="results" headerValue="Accession ID" ><a href="#" onclick="testOpenSubtab('{!list}','{!list['accession']}','{!Account.id}','{!list['order date']}');return false">
                                            {!list['accession']}
                                        </a></apex:column>
                                 

                                 <apex:column title="results" headerValue="Order Date" value="{!list['order date']}"/>
                                    <apex:column title="results" headerValue="Owner Name" styleClass="owner {!list['owner']} " value="{!list['owner']}"/>
                                    <apex:column title="results" headerValue="Patient Name" styleClass="patient {!list['name']}" value="{!list['name']}"/>
                                    <apex:column title="results" headerValue="Doctor Name" value="{!list['doctor']}" />
                                    <apex:column title="results" headerValue="Status" value="{!list['status']}" />
                                    <apex:column title="results" headerValue="Tests Ordered" value="{!list['tests']}" />
                                    <apex:column title="results" headerValue="Component Tests" value="{!list['assay']}" />
                                    <apex:column title="results" headerValue="Source" value="{!list['source']}"/>
                                    <apex:column title="results" headerValue="LIMS" value="{!list['lims']}" />
                                    <apex:column id="guidCol1" title="results" headerValue="Image"  >
                                        <apex:form rendered="{!LEN(list['guid'])>0}">
                                            <button value="{!list['guid']}"  id="guid1"  onclick="openImage('/LabImages','{!list['guid']}',{!list['requisition']},'{!list['lims']}');return false;"  class="slds-button slds-button--neutral"  >
                                                View Scan
                                                <apex:param assignTo="{!guid}" id="guidParam2" value="{!list['guid']}"/>
                                            </button> 
                                        </apex:form>
                                    </apex:column>
                                </apex:pageBlockTable>
                            </apex:pageBlock>
                        </div>
                        <!--end tab1 contents-->
                        <div id="tab-default-2" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item" rendered="{!limsIds.size>1}">
                            <apex:pageBlock id="result2">
                                <apex:outputText value="Showing 1 - {!resultList2.size} records  " styleClass="slds-text-heading--label slds-m-bottom--small"/>
                                <div class="slds-grid">
                                    <div class="slds-col slds-size--3-of-12">
                                        <div class="slds-lookup" data-select="single" data-scope="single">
                                            <div class="slds-form-element">
                                                <div id="lookup3" class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                    <input id="lookup-3" class="typeahead slds-input" type="text" aria-autocomplete="list" placeholder="Search By Owner" label="search"/>
                                                    <a class="closeIcon" data="lookup-3">
                                                        <svg aria-hidden="true" class="slds-input__icon search" id="lookup-3svg">                                                      
                                                        </svg>
                                                    </a>  
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size--3-of-12">
                                        <div class="slds-lookup" data-select="single" data-scope="single">
                                            <div class="slds-form-element">
                                                <div id="lookup4" class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                    <input id="lookup-4" class="typeahead slds-input" type="text" aria-autocomplete="list" placeholder="Search By Patient"  label="search"/>
                                                    <a class="closeIcon" data="lookup-4">
                                                        <svg aria-hidden="true" class="slds-input__icon search" id="lookup-4svg">                                                      
                                                        </svg>
                                                    </a>  
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size--2-of-12">
                                        <button class="slds-button slds-button--neutral" id="reset2">Reset Filter</button>
                                    </div>
                                    <div class="slds-col slds-size--4-of-12">
                                    </div>
                                </div>
                                <apex:pageBlockTable value="{!resultList2}" var="list" style="word-wrap: break-word;" id="r2" styleClass="tablesorter">
                                    <apex:column title="results" headerValue="Requisition ID" value="{!list['requisition']}"/>
                                    <apex:column title="results" headerValue="Accession ID" ><a href="#" onclick="testOpenSubtab('{!list}','{!list['accession']}','{!Account.id}','{!list['order date']}');return false">
                                            {!list['accession']}  
                                        </a> </apex:column>
                                    
                                    
                                    <apex:column title="results" headerValue="Order Date" value="{!list['order date']}"/>
                                    <apex:column title="results" headerValue="Owner Name" styleClass="owner2 {!list['owner']}" value="{!list['owner']}"/>
                                    <apex:column title="results" headerValue="Patient Name" styleClass="patient2 {!list['name']}" value="{!list['name']}"/>
                                    <apex:column title="results" headerValue="Doctor Name" value="{!list['doctor']}"/>
                                    <apex:column title="results" headerValue="Status" value="{!list['status']}"/>
                                    <apex:column title="results" headerValue="Tests Ordered" value="{!list['tests']}"/>
                                    <apex:column title="results" headerValue="Component Tests" value="{!list['assay']}"/>
                                    <apex:column title="results" headerValue="Source" value="{!list['source']}"/>
                                    <apex:column title="results" headerValue="LIMS" value="{!list['lims']}"/>
                                    <apex:column id="guidCol1" title="results" headerValue="Image">
                                        <apex:form rendered="{!LEN(list['guid'])>1}" >
                                            <button value="{!list['guid']}"  id="guid2"  onclick="openImage('/LabImages','{!list['guid']}',{!list['requisition']},'{!list['lims']}');return false;"  class="slds-button slds-button--neutral"  >
                                                View Scan
                                                <apex:param assignTo="{!guid}" id="guidParam2" value="{!list['guid']}"/>
                                            </button> 
                                        </apex:form>
                                    </apex:column>
                                </apex:pageBlockTable>
                            </apex:pageBlock>
                            
                        </div>
                        
                        <!--end tab2 contents-->
                    </div>
                    <!--end tab body--->
                </apex:pageBlock>
                
            </div>
            
            <!---end wrapper div--->
        </body>
        <script>
        j$ = jQuery.noConflict();
        
        j$(window).load(function(){
            <apex:includeScript value="{!$Resource.formScript}"/>
                getVals();
            j$(".twitter-typeahead").css('display','block');
            var limSize = {!limsIds.size};
            var lims = {!limsIds};

            if(limSize == 1){
                console.log('in hide');
                j$("#lim1").text(lims[0]);
                j$("#limTab2").addClass('hide');
            }
            if(limSize > 1){
                j$("#lim1").text(lims[0]);
                j$("#lim2").text(lims[1]);
            }
            
        });
        
        </script>
      <!-- Added by Rama. Below code is used to open the detail page in console   -->
        
        <script>
        
        var preRecordId;
        var myURL ;     
        var ConsoleMyURL ;     
        function testOpenSubtab(det,acc,id,orderDate) 
        
        {
            preRecordId= id;
            var jsonS = JSON.stringify(det);
            myURL = 'Apex/LabAccessionsToVetConnect?id='+id+'&det='+jsonS+'&accId='+acc+'&orderDate='+orderDate;
            ConsoleMyURL = '/apex/LabAccessionsToVetConnect?id='+id+'&det='+jsonS+'&accId='+acc+'&isdtp=vw'+'&orderDate='+orderDate;
            if (sforce.console.isInConsole())
            {
                sforce.console.getEnclosingPrimaryTabId(openSubtab);
                //srcUp(myURL);
            }   
            else
            {
                //window.top.location.href = '/' + id;
                window.open('Apex/LabAccessionsToVetConnect?id='+id+'&det='+jsonS+'&accId='+acc+'&orderDate='+orderDate, '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=500, height=500');
                // window.open('http://google.com', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=500, height=500');
                //  window.open('https://qa.vetconnectplus.com/integration/impersonation/results?sapId='+activeSapId+'&accessionId='AccessionId+'&orderDate='+orderDate+'&singleUseLoginToken='+activeUseToken, '_blank');
                
            } 
        }
        
        var openSubtab = function openSubtab(result) 
        {
            var primaryTabId = result.id;
            //alert('openSubtab URL--->'+ConsoleMyURL);
            sforce.console.openSubtab(primaryTabId , ConsoleMyURL , true,  'LabDetail' , null , openSuccess, 'salesforceSubtab');
        };
        
        var openSuccess = function openSuccess(result) 
        {
        };
        
        </script>  
        
    </html>   
    
</apex:page>