<!--
/**********************************************************************************************************
* Name:                  -  logacall  
* Controller:            -  Task
* Controller Extension:  -  LogACallControllerExtension
* Relates to User Story: -  US-3155
* Description:           -  Page that allows a consolidated view of activity creation and (if applicable) 
*                           campaign(s) updates without requiring additional navigation. 
*             
*
* Modification Log :
* 
* 
* ---------------------------------------------------------------------------------------------------------
* Developer                Date           Description
* ---------------------------------------------------------------------------------------------------------
* Pooja Wade               11/03/2015     - Initial creation.
* Heather Kinney           11/06/2015     - Added this comment block.
*                                         - Added javascript block to set the tab title to read 'Log A Call'
*                                           as by default, vf pages display 'External Page' in the console.
* Pooja Wade               12/1/2015      - Edited the javascript code to display 'Log An Interaction' in the
*                                           console as Tab Name
*
***********************************************************************************************************
*   Outstanding Issues: 
*
-->
<apex:page standardController="Task" extensions="LogAnInteractionExtension" title="Log An Interaction">
     <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"  />
     <apex:includeScript value="{!URLFOR($Resource.jQuery_BlogForce9_162, 'js/jquery-1.6.2.min.js')}"/>
     <apex:includeScript value="/support/console/31.0/integration.js"/>
    
    <script type="text/javascript">
        function setTabTitleInConsole() {
                //Set the current tabs title
                sforce.console.setTabTitle('Log An Interaction');
            }
            var pageLoad = window.onload;
            window.onload = function() {
                if (pageLoad) {
                    pageLoad();
                }
                setTabTitleInConsole();
            }
            
    </script>

    <script>
    function CheckDiv()
    {       
        if(document.getElementById("Recurrencediv").style.display=='none')
        {
            document.getElementById("Recurrencediv").style.display='block';
            document.getElementById("Daily").style.display='block';      
                        
        }
        else{
            document.getElementById("Recurrencediv").style.display='none';
            document.getElementById("Daily").style.display='none'; 
        }
    }
    
    function showValuesDiv(accountId)
    {
        document.getElementById("Daily").style.display='none';
        document.getElementById("weekly").style.display='none';
        document.getElementById("monthly").style.display='none';
        document.getElementById("yearly").style.display='none';
        
        if(accountId != null && accountId != 'undefined'){
            document.getElementById(accountId).style.display='';
        }
    }  
    </script> 

    <apex:sectionHeader title="Log An Interaction" />
     <apex:actionStatus id="statusProcessing">
        <apex:facet name="start">
            <c:loadingStatus ></c:loadingStatus>
        </apex:facet>
    </apex:actionStatus> 
    <apex:form id="pageForm">
        <apex:pageBlock title="Task Edit" mode="edit" id="theBlock" >
            <apex:pageBlockButtons location="both">
                <apex:commandButton value="Save" action="{!save}"   status="statusProcessing" />
                  <!--  <apex:commandButton value="Save and New Task" action="{!saveNew}" /> -->
                  <apex:commandButton value="Cancel" action="{!cancel}" /> 
            </apex:pageBlockButtons>
            <br />
             <apex:pageMessages id="showmsg"></apex:pageMessages>
            <apex:pageBlockSection title="Task Information" columns="2" collapsible="false">
            <apex:inputField value="{!Task.Subject}" required="true" />
             <apex:inputField value="{!Task.Interaction_Origin__c }" required="true" />
              <!--   <apex:inputField value="{!thisAccount.Name}" label="Account" /> -->
                     <apex:inputField value="{!Task.whoId}" label="Contact"/>
                  <!-- <apex:inputField value="{!thisAccount.Top_200_Ranking__c}" /> --> 
                     <apex:inputField value="{!Task.Date_of_Activity__c}" required="true" />
                  <!--<apex:inputfield value="{!Task.Order__c}"/> -->
                      <apex:inputField value="{!Task.Successful__c}" />
                      <apex:inputField value="{!Task.ActivityDate}" />
                      <apex:inputField value="{!Task.Description}" label="Activity Description"  style="width: 460px; height: 50px"/>                     
                </apex:pageBlockSection>
                
                <apex:pageBlockSection title="Notes"  columns="1"  collapsible="false"> 
                      <apex:inputField value="{!Task.Description}"  style="width: 690px; height: 60px"/> 
                </apex:pageBlockSection>
 
               <!-- <apex:pageBlockSection title="Campaign Discussed" columns="1" collapsible="false">
                <apex:pageBlockTable value="{!CampaignWrapperList }" var="camp" rendered="{!IF(relatedCampaigns.size>0,true,false)}">
                    <apex:column headerValue="Campaign Name">
                    <apex:outputText value="{!camp.campgn.Name}">
                </apex:outputText>
                </apex:column>
                <apex:column headerValue="Select Campaigns">
                    <apex:inputCheckbox value="{!camp.selectCheck}"/>
                </apex:column>
                 <apex:column headerValue="Campaign Member Status"> 
               <apex:selectList size="1" value="{!camp.CampStatus}" multiselect="false"> 
                 <apex:selectOptions value="{!camp.statusValues}"/> 
               </apex:selectList> 
                </apex:column>
                <apex:column headerValue="Campaign Member Name">
                <apex:outputText value="{!camp.campMemName}">
                </apex:outputText>
                </apex:column>
                </apex:pageBlockTable>
                </apex:pageBlockSection> -->
               
                <apex:pageBlockSection title="Products and Services" columns="1" collapsible="false">
                <table>
          
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <apex:inputField value="{!Task.Product__c}" rendered="{!(!isWater)}"/>    
                        </td>
                        <td>
                            <apex:inputField value="{!Task.Products_and_Services_Water__c}" rendered="{!isWater}"/>    
                        </td>
                    </tr>
                </table>
                  
                </apex:pageBlockSection>
                
               <apex:pageBlockSection id="pbs3" title="Recurrence" collapsible="false"  >
                <apex:inputfield value="{!task.IsRecurrence}" onclick="CheckDiv()"/> 
            </apex:pageBlockSection>
            
            <div id="Recurrencediv"  style="display:none;">   
                <apex:pageBlockSection columns="1" id="pbs4" > 
                    <apex:pageBlockSectionItem id="pbsi1" >                    
                        <table border="0px">
                            <tr>
                                <td style="width:120px;">&nbsp;</td>
                                <td><b>Frequency</b></td>
                                <td style="width:80px;">
                                    <input type="radio" id="Dailydiv" checked="true"  name="checkrctype" 
                                           onClick="showValuesDiv('Daily');"  value="RecursEveryWeekday"/>Daily<br/> 
                                    <input type="radio" name="checkrctype" onClick="showValuesDiv('weekly');" 
                                           value="Weekly"/>Weekly<br/>
                                    <input type="radio" name="checkrctype" onClick="showValuesDiv('monthly');" value="RecursMonthly"/>Monthly<br/> 
                                    <input type="radio" name="checkrctype" onClick="showValuesDiv('yearly');" value="RecursYearly"/>Yearly<br/>
                                </td> 
                                <td>
                                    <div name="Daily" id="Daily">                                    
                                        <input type="radio" id="RecursEveryWeekday"   name="recurrencetype" 
                                               value="RecursEveryWeekday"/>Every weekday<br/>
                                        <div><input id="recdd1" name="recd" title="Specify interval in days" type="radio" value="d1"/>
                                            <label for="recdd1"></label>Every 
                                            <input id="di" name="di" onkeypress="document.getElementById('recdd1').checked=true;"
                                                   size="3" title="specify interval in days" type="text" value="1"/> day(s)
                                        </div>
                                    </div> 
                                    <div id='weekly' style='display:none;'>
                                        <div>
                                            Recurs every  <input id="wi" name="wi" size="3" title="specify interval in weeks" type="text" value="1"/>
                                            week(s) on  
                                        </div>
                                        <div>
                                            <input id="1" name="1" type="checkbox" value="1"/>
                                            <label for="1">Sunday</label>
                                            <input id="2" name="2" type="checkbox" value="2"/>
                                            <label for="2">Monday</label>
                                            <input id="3" name="3" type="checkbox" value="3"/>
                                            <label for="3">Tuesday</label>
                                            <input id="4" name="4" type="checkbox" value="4"/>
                                            <label for="4">Wednesday</label>
                                            <input id="5" name="5" type="checkbox" value="5"/>
                                            <label for="5">Thursday</label>
                                            <input id="6" name="6" type="checkbox" value="6"/>
                                            <label for="6">Friday</label>
                                            <input id="7" name="7" type="checkbox" value="7"/>
                                            <label for="7">Saturday</label>
                                        </div>
                                    </div>
                                    <div class="dateBar" id='monthly' style='display:none;'>
                                        <div>
                                            <input checked="checked" id="recmm0" name="recm" 
                                                   title="Specify number of days into month and monthly interval"
                                                   type="radio" value="m0" /> 
                                            <label for="recmm0"></label>
                                            On day 
                                            <select id="mdom" name="mdom" onchange="document.getElementById('recmm0').checked=true;" title="select day of the month"><option value="1" selected="selected">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                            of every 
                                            <input id="mint" name="mint" onkeypress="document.getElementById('recmm0').checked=true;" size="3" 
                                                   title="specify interval in months" type="text" value="1" />
                                            month(s)
                                        </div>
                                        <div>
                                            <input id="recmm1" name="recm" title="Specify which day of which week and the monthly interval" 
                                                   type="radio"  value="m1" />
                                            <label for="recmm1"></label>
                                            On the <select id="mnins" name="mnins"   onchange="document.getElementById('recmm1').checked=true;"
                                                           title="select which week of the month">
                                            <option value="1" selected="selected">1st</option>
                                            <option value="2">2nd</option>
                                            <option value="3">3rd</option>
                                            <option value="4">4th</option>
                                            <option value="5">last</option>
                                            </select> 
                                            <select id="mndow" name="mndow" onchange="document.getElementById('recmm1').checked=true;"
                                                    title="select which day of the week">
                                                <option value="127" selected="selected">day</option>
                                                <option value="1">Sunday</option>
                                                <option value="2">Monday</option>
                                                <option value="4">Tuesday</option>
                                                <option value="8">Wednesday</option>
                                                <option value="16">Thursday</option>
                                                <option value="32">Friday</option>
                                                <option value="64">Saturday</option>
                                            </select> of every 
                                            <input id="mnint" name="mnint" onkeypress="document.getElementById('recmm1').checked=true;" 
                                                   size="3" title="specify interval in months" type="text" value="1" /> month(s)
                                        </div>
                                    </div>
                                    <div class="dateBar" id='yearly' style='display:none;'>
                                        <div>
                                            <input checked="checked" id="recyy0" name="recy" title="Specify month and day" 
                                                   type="radio" value="y0" />
                                            <label for="recyy0"></label>On every 
                                            <select id="ymoy" name="ymoy" onchange="document.getElementById('recyy0').checked=true;" 
                                                    title="select the month"><option value="0">January</option>
                                                <option value="1">February</option>
                                                <option value="2">March</option>
                                                <option value="3">April</option>
                                                <option value="4">May</option>
                                                <option value="5">June</option>
                                                <option value="6" selected="selected">July</option>
                                                <option value="7">August</option>
                                                <option value="8">September</option>
                                                <option value="9">October</option>
                                                <option value="10">November</option>
                                                <option value="11">December</option>
                                            </select>
                                            <select id="ydom" name="ydom" onchange="document.getElementById('recyy0').checked=true;" 
                                                    title="select day of the month">
                                                <option value="1" selected="selected">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                        </div>
                                        <div>
                                            <input id="recyy1" name="recy" title="Specify day of particular week in a specific month"
                                                   type="radio" value="y1" />
                                            <label for="recyy1"></label>On the 
                                            <select id="ynins" name="ynins" onchange="document.getElementById('recyy1').checked=true;" 
                                                    title="select which week of the month"><option value="1" selected="selected">1st</option>
                                                <option value="2">2nd</option>
                                                <option value="3">3rd</option>
                                                <option value="4">4th</option>
                                                <option value="5">last</option>
                                            </select>
                                            <select id="yndow" name="yndow" onchange="document.getElementById('recyy1').checked=true;" title="select which day of the week"><option value="127" selected="selected">day</option>
                                                <option value="1">Sunday</option>
                                                <option value="2">Monday</option>
                                                <option value="4">Tuesday</option>
                                                <option value="8">Wednesday</option>
                                                <option value="16">Thursday</option>
                                                <option value="32">Friday</option>
                                                <option value="64">Saturday</option>
                                            </select> of
                                            <select id="ynmoy" name="ynmoy" onchange="document.getElementById('recyy1').checked=true;" title="select the month"><option value="0">January</option>
                                                <option value="1">February</option>
                                                <option value="2">March</option>
                                                <option value="3">April</option>
                                                <option value="4">May</option>
                                                <option value="5">June</option>
                                                <option value="6" selected="selected">July</option>
                                                <option value="7">August</option>
                                                <option value="8">September</option>
                                                <option value="9">October</option>
                                                <option value="10">November</option>
                                                <option value="11">December</option>
                                            </select></div>
                                    </div>
                                    
                                </td> 
                            </tr> 
                        </table> 
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection> 
                <apex:pageBlockSection >
                    <apex:inputField value="{!task.RecurrenceStartDateOnly}" />
                </apex:pageBlockSection>
                <apex:pageBlockSection >
                    <apex:inputField value="{!task.RecurrenceEndDateOnly}"  />
                </apex:pageBlockSection>
            </div>         
            
            <apex:pageBlockSection title="Remainder" collapsible="false"> 
                <table>
                    <tr><td class="labelCol">Reminder
                        <input checked="checked" id="reminder_select_check" name="IsReminderSet"
                               onclick="TaskEditPage.reenableReminders('tsk12','IsRecurrence','reminder_ldt','reminder_ldt_time','reminder_dt','reminder_dt_time');" 
                               title="Set reminder on/off" type="checkbox" value="1" />
                        <label for="reminder_select_check"></label>
                        
                        <span class="dateInput dateOnlyInput" style="display: inline;">
                            <input id="reminder_dt" name="reminder_dt" onfocus="DatePicker.pickDate(false, 'reminder_dt', false);" size="10" title="Reminder date" type="text" value="7/20/2016" data-uidsfdc="26"/>
                            <select id="reminder_dt_time" name="reminder_dt_time" title="Reminder time">
                                <option value="0">12:00 AM</option>
                                <option value="30">12:30 AM</option>
                                <option value="60">1:00 AM</option>
                                <option value="90">1:30 AM</option>
                                <option value="120">2:00 AM</option>
                                <option value="150">2:30 AM</option>
                                <option value="180">3:00 AM</option>
                                <option value="210">3:30 AM</option>
                                <option value="240">4:00 AM</option>
                                <option value="270">4:30 AM</option>
                                <option value="300">5:00 AM</option>
                                <option value="330">5:30 AM</option>
                                <option value="360">6:00 AM</option>
                                <option value="390">6:30 AM</option>
                                <option value="420">7:00 AM</option>
                                <option value="450">7:30 AM</option>
                                <option value="480" selected="selected">8:00 AM</option>
                                <option value="510">8:30 AM</option>
                                <option value="540">9:00 AM</option>
                                <option value="570">9:30 AM</option>
                                <option value="600">10:00 AM</option>
                                <option value="630">10:30 AM</option>
                                <option value="660">11:00 AM</option>
                                <option value="690">11:30 AM</option>
                                <option value="720">12:00 PM</option>
                                <option value="750">12:30 PM</option>
                                <option value="780">1:00 PM</option>
                                <option value="810">1:30 PM</option>
                                <option value="840">2:00 PM</option>
                                <option value="870">2:30 PM</option>
                                <option value="900">3:00 PM</option>
                                <option value="930">3:30 PM</option>
                                <option value="960">4:00 PM</option>
                                <option value="990">4:30 PM</option>
                                <option value="1020">5:00 PM</option>
                                <option value="1050">5:30 PM</option>
                                <option value="1080">6:00 PM</option>
                                <option value="1110">6:30 PM</option>
                                <option value="1140">7:00 PM</option>
                                <option value="1170">7:30 PM</option>
                                <option value="1200">8:00 PM</option>
                                <option value="1230">8:30 PM</option>
                                <option value="1260">9:00 PM</option>
                                <option value="1290">9:30 PM</option>
                                <option value="1320">10:00 PM</option>
                                <option value="1350">10:30 PM</option>
                                <option value="1380">11:00 PM</option>
                                <option value="1410">11:30 PM</option>
                            </select>
                        </span>
                        <span class="dateInput dateOnlyInput" style="display: none">
                            <select id="reminder_ldt" name="reminder_ldt" title="Reminder days before each occurrence">
                                <option value="0" selected="selected">On occurrence date</option>
                                <option value="1">1 day before</option>
                                <option value="2">2 days before</option>
                                <option value="3">3 days before</option>
                                <option value="4">4 days before</option>
                                <option value="5">5 days before</option>
                                <option value="6">6 days before</option>
                                <option value="7">1 week before</option>
                                <option value="14">2 weeks before</option>
                            </select> at <select id="reminder_ldt_time" name="reminder_ldt_time" title="Reminder time">
                            <option value="0">12:00 AM</option>
                            <option value="30">12:30 AM</option>
                            <option value="60">1:00 AM</option>
                            <option value="90">1:30 AM</option>
                            <option value="120">2:00 AM</option>
                            <option value="150">2:30 AM</option>
                            <option value="180">3:00 AM</option>
                            <option value="210">3:30 AM</option>
                            <option value="240">4:00 AM</option>
                            <option value="270">4:30 AM</option>
                            <option value="300">5:00 AM</option>
                            <option value="330">5:30 AM</option>
                            <option value="360">6:00 AM</option>
                            <option value="390">6:30 AM</option>
                            <option value="420">7:00 AM</option>
                            <option value="450">7:30 AM</option>
                            <option value="480" selected="selected">8:00 AM</option>
                            <option value="510">8:30 AM</option>
                            <option value="540">9:00 AM</option>
                            <option value="570">9:30 AM</option>
                            <option value="600">10:00 AM</option>
                            <option value="630">10:30 AM</option>
                            <option value="660">11:00 AM</option>
                            <option value="690">11:30 AM</option>
                            <option value="720">12:00 PM</option>
                            <option value="750">12:30 PM</option>
                            <option value="780">1:00 PM</option>
                            <option value="810">1:30 PM</option>
                            <option value="840">2:00 PM</option>
                            <option value="870">2:30 PM</option>
                            <option value="900">3:00 PM</option>
                            <option value="930">3:30 PM</option>
                            <option value="960">4:00 PM</option>
                            <option value="990">4:30 PM</option>
                            <option value="1020">5:00 PM</option>
                            <option value="1050">5:30 PM</option>
                            <option value="1080">6:00 PM</option>
                            <option value="1110">6:30 PM</option>
                            <option value="1140">7:00 PM</option>
                            <option value="1170">7:30 PM</option>
                            <option value="1200">8:00 PM</option>
                            <option value="1230">8:30 PM</option>
                            <option value="1260">9:00 PM</option>
                            <option value="1290">9:30 PM</option>
                            <option value="1320">10:00 PM</option>
                            <option value="1350">10:30 PM</option>
                            <option value="1380">11:00 PM</option>
                            <option value="1410">11:30 PM</option>
                            </select> for each occurrence</span>
                        </td>
                    </tr>
                </table>
            </apex:pageBlockSection>              
        </apex:PageBlock>
            
     
    </apex:form>
</apex:page>