<apex:page standardController="OrderItem" extensions="OrderProductValidationController">
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"  />
    <script>
        if(typeof jQuery != 'undefined'){
           $j =jQuery.noConflict(); 
        }
        $j(document).ready(function(){
            alert('Plesae Click on "Submit to SAP" button for any Order related update');
            backToOriginal();
        });
        
    </script>
   <!-- <apex:pageMessage severity="ERROR" title="Plesae Click on Submit to SAP button for any Order related update"></apex:pageMessage>-->
    <apex:form >
        <apex:actionFunction action="{!backToOriginal}" name="backToOriginal"/>
        <!--<apex:commandButton value = "Back To Order" action="{!backToOriginal}"/>-->
    </apex:form>
    </apex:page>