<apex:page controller="PageHeaderController" applyBodyTag="false" standardStylesheets="false" showHeader="false" sidebar="false" docType="html-5.0" applyHtmlTag="false">
  <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
      <apex:stylesheet value="{!URLFOR($Resource.slds2, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    </head>
    <body style="margin-top:5px;">
<div class="idexx slds container-fluid">
<div class="slds-page-header" role="banner">
  <div class="slds-media slds-media--center">
    <div class="slds-media__figure">
      <img src="{!$Resource.IDEXX_logo}" alt="" width="150" style="vertical-align:sub;"/>
    </div>
    <div class="slds-media__body">
      <p class="slds-page-header__title slds-truncate slds-align-middle" title="TODO">
        <apex:insert name="title" />
      </p>
      <p class="slds-text-body--small page-header__info">
        <apex:insert name="recordName" />&nbsp;-&nbsp;<apex:insert name="recordId" /></p>
    </div>
  </div>
</div>
</div>
    </body>
  </html>
</apex:page>