<apex:page standardController="Account" extensions="ProgramEnrollmentsController" standardStyleSheets="false" >
       <apex:includescript value="{!$Resource.jquerymin1_1}" />           
        <apex:includeScript value="{!$Resource.jQueryMin1_7_1}"/>
        <apex:includescript value="{!$Resource.jqueryDataTablesMin}" />
        <apex:stylesheet value="{!URLFOR($Resource.JQueryDataTable)}" />
        <apex:stylesheet value="{!URLFOR($Resource.JQueryUI)}" />
     
        <script>
                
            
            var j$ = jQuery.noConflict();
                j$(document).ready( function () {
                });
                
                function applyDataTableSettings(){
                    var programenrolltable= j$('[id$="pbs1"]').DataTable({
                        order: [[0, 'asc']],
                       'bPaginate': true,
                       'bFilter': true,  
                       "bLengthChange": true,
                       "iDisplayLength": {!$Label.PaginationValue},
                       "fixedHeader": true,
                       "sScrollY": "200px",
                       "sScrollX": "113%",
                       "bScrollCollapse": true,
                       
                       "columns": [   
                            { "bSortable": true, "bSearchable": true},
                            { "bSortable": true, "bSearchable": true},
                            { "bSortable": true, "bSearchable": true},
                            { "bSortable": true, "bSearchable": true}
                    ],
                    "oLanguage": {
                            "sSearch": "Filter: " }});
                }

       

        </script>
        <apex:actionStatus id="statusProcessing">
            <apex:facet name="start">
                <c:loadingStatus ></c:loadingStatus>
            </apex:facet>
        </apex:actionStatus>
        <apex:form id="form">
            <apex:actionFunction name="fetchData" action="{!fetchProgramEnrollments}" rerender="pblock1" status="statusProcessing" oncomplete="applyDataTableSettings();"/>
            <apex:pageBlock mode="Maindetail1" id="pblock1" >
            <apex:pageBlockTable value="{!enrolWrapList}"  var="item" id="pbs1" rendered="{!enrolWrapList.size > 0}" style= "margin-left: 0%;">
                <apex:column style="width:10%" value="{!item.progId}"   id="pid" headerValue="Program Id"/>     
                <apex:column style="width:40%" value="{!item.progName}"  id="pn" headerValue=" Program Name"/>   
                <apex:column style="width:23%" headerValue="Enroll Date"   id="ed">
                    <apex:outputText value="{0,date,MM/dd/yyyy}"> 
                        <apex:param value="{!item.enrollDate}" /> 
                    </apex:outputText>   
                </apex:column>  
                <apex:column style="width:22%" headerValue="Term Date"  id="td">
                    <apex:outputText value="{0,date,MM/dd/yyyy}"> 
                        <apex:param value="{!item.termDate}" /> 
                    </apex:outputText>   
                </apex:column> 
            </apex:pageBlockTable>
            <apex:outputPanel rendered="{!isException}" styleClass="custom1">
                    <apex:outputLabel Value="{!$Label.ProgramEnrollmentsErrorMessageNoRecords}" />
            </apex:outputPanel>
            <apex:outputPanel rendered="{!isSapNoNull}" styleClass="custom1">
                    <apex:outputLabel Value="{!$Label.ProgramEnrollmentsErrorMessageNoSAP}" />
            </apex:outputPanel>
        </apex:pageBlock>
        
            </apex:form>
            <script> window.setTimeout(fetchData, '{!$Label.ProgramEnrollments_LazyLoad}')</script>
    </apex:page>