<apex:page standardController="Account" extensions="SediVueControllerExtension" applyBodyTag="false" showHeader="false" sidebar="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">   
        <head>
            <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" />
            <apex:includeScript value="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/>
            <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js" />
            <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" />
            <apex:includeScript value="{!URLFOR($Resource.aljs, '/jquery/jquery.aljs-init.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.aljs, '/jquery/jquery.aljs-all.min.js')}" />
            <apex:stylesheet value="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
            <apex:stylesheet value="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
            <apex:stylesheet value="{!URLFOR($Resource.slds, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />  
            <apex:stylesheet value="{!URLFOR($Resource.TestCodeStyles)}"/>
            <apex:stylesheet value="{!URLFOR($Resource.formStyles)}"/>
            <apex:stylesheet value="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"/>

            <!-- TODO: for the above, change to other "styles"? -->
            <style>
                .messageLoading     {margin-left: 5px; margin-top: 5px; color: #000;}
                .loadingMessageText {margin-left: 3%; !important}
                .editableIconInline {}

                #table1 th                    {white-space: normal;}
                #messageSuccess               {display: none;}
                #messageException             {display: none;}
                #messageExceptionInitialRead  {display: none;}
                #errorMessageDetHeader        {margin-bottom: 10px; font-size: larger;}
       
                #NoRowsMessage           {margin-left: 20px; margin-top: 10px; font-weight:bold;}
                #editDialog              {display: none;}
                
                input.form-control.input-sm {padding-right: 0px !important; width: 70px !important;}
                .slds .slds-spinner             {position: absolute; top: 0; left: 1%; !important;}
                .slds .slds-spinner_container   {position: relative; top: 8px; !important;}
                .slds .slds-notify_container    {position: relative; !important;}
                .slds .slds-input-has-icon--right .slds-input__icon { right: 10px; margin-top: -18px; !important}
                .editable-click, a.editable-click, a.editable-click:hover {border-bottom: 0px !important;}
                .messageInternals               {text-align: left;}
                .messageInternals h2            {font-weight: bold; font-size:larger;margin-bottom:20px;}
                .messageInternalsDetailsLabel   {float: left; width: 20%; font-weight: bold;}
                .messageInternalsDetailsText    {} 
                
                .hxDetWrapper                       {width: 300px; margin: 0 auto;}
                .firstHxDetGroup, secondHxDetGroup  {float: left; min-height: 100px;}
                .firstHxDetGroup                    {width: 130px;}
                .secondHxDetGroup                   {width: 300px;}
                .hxInnerDet                         {background-color: #eef1f6;}
                
            </style>
        </head>
        <body style="margin-top:5px;">
        <div class="slds">
            <div class="container-fluid">
                <div id="header" class="slds-page-header" role="banner">
                    <div class="slds-medium-size--12-of-12 slds-small-size--6-of-6">
                        <apex:image url="{!$Resource.IDEXX_logo}" width="300" height="60" style="vertical-align:sub;"/>
                        <h1 class="slds-text-heading--large" title="SediVue" style="display:inline;color:#848484;white-space: nowrap;">SediVue Subscriptions</h1>  
                    </div>
                    <div class="slds-medium-size--12-of-12 slds-small-size--6-of-6">
                        <span class="slds-badge noAccount pull-left" style="padding:1px 8px; margin-bottom:5px;">
                            {!Account.Name}
                        </span>
                    </div>
                </div>
                <span>
                    <div class="slds" id="errorBlock" >
                        <apex:pageMessage summary="{!errorMsg}" severity="warning" strength="2" id="eM"/>
                    </div>
                </span>
            </div>
            
            <div id="modalMessageContainer"></div>
            
            <!-- begin - toast for successful save/edit of items -->
            <div id="messageSuccess" class="slds-notify_container">
              <div class="slds-notify slds-notify--toast slds-theme--success" role="alert">
                <span class="slds-assistive-text">Success</span>
                <button class="slds-button slds-button--icon-inverse slds-notify__close" onclick="hideMessageSuccess();">
                  <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
                    <use xlink:href="{!URLFOR($Resource.slds)}/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                  </svg>
                  <span class="slds-assistive-text">Close</span>
                </button>
                <div class="notify__content slds-grid">
                  <svg aria-hidden="true" class="slds-icon slds-icon--small slds-m-right--small slds-col slds-no-flex">
                    <use xlink:href="{!URLFOR($Resource.slds)}/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
                  </svg>
                  <div class="slds-col slds-align-middle">
                    <h2 class="slds-text-heading--small">Your changes have been successfully saved.</h2>
                  </div>
                </div>
              </div>
            </div>
            <!-- end - toast for successful save/edit of items -->

            <!-- begin - toast for exceptions -->
            <div id="messageException" class="slds-notify_container">
              <div class="slds-notify slds-notify--toast slds-theme--error" role="alert">
                <span class="slds-assistive-text">Error</span>
                <div class="notify__content slds-grid">
                  <svg aria-hidden="true" class="slds-icon slds-icon--small slds-m-right--small slds-col slds-no-flex">
                    <use xlink:href="{!URLFOR($Resource.slds)}/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                  </svg>
                  <div class="slds-col slds-align-middle">
                      <h2 id="messageExceptionErrorToastText" class="slds-text-heading--small"><div></div></h2>
                  </div>
                </div>
              </div>
            </div>
            <!-- end - toast for exceptions -->
            
            <div class="slds-tabs--default pull-left" data-aljs="tabs">
                <div class="slds-grow">
                    <div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
                        <div class="panel-group" id="accordion" style="padding-top:.5%;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                SediVue Results
                                <span class="slds-badge" id="res1Num"></span>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="table-responsive">                                
                                    <table class="table" id="table1">
                                        <thead><tr class="headRow">
                                            <th colspan='1'>Material #</th>
                                            <th colspan='1'>Description</th>
                                            <th colspan='1'>Current Inventory</th>
                                            <th colspan='1'>Re-Order Point</th>
                                            <th colspan='1'>Pending Delivery Date</th>
                                            <th colspan='1'>Pending Order ID</th>
                                            <th colspan='1'>Pending Delivery #</th>
                                            <th colspan='1'>Pending Carrier &amp; Tracking #</th>
                                            <th colspan='2'>Historical Details</th>
                                            </tr></thead>
                                        <tbody class="slds-scrollable--y innerT">
                                          <!-- this TR will display a loading indicator, and be replaced once we get a response -->  
                                          <tr>
                                              <td colspan='9'>                                      
                                                <div id="sediVueLoading" class="messageLoading">
                                                    <div class="slds-spinner_container">
                                                        <div class="slds-spinner slds-spinner--small" aria-hidden="false" role="alert">
                                                            <div class="slds-spinner__dot-a"></div>
                                                            <div class="slds-spinner__dot-b"></div>
                                                        </div>
                                                    </div>
                                                    <div id="loadingMessage" class="loadingMessageText">Fetching SediVue Data...</div>
                                                </div> 
                                              </td>
                                          </tr>
                                        </tbody>
                                    </table>                                   
                                </div>
                            </div>
                            <div id="editDialog"></div>
                        </div> 
                      </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
        <script>
        j$ = jQuery.noConflict();
        j$(window).load(function(){
            console.log('window.load');
            //initialize inline editable - bootstrap x-editable
            j$.fn.editable.defaults.mode = 'inline';
            j$.fn.editable.defaults.anim = '1000'; //shows a spinner; remove to revert back to yellow/default cell highlight 

            doAsyncGetResultsFromControllerService();
        });
      
        var acct = '{!Account.name}',
            sapId = '{!Account.SAP_Number_without_Leading_Zeros__c}',
            isBannerToBeHidden = '{!hideBanner}',
            errorMessageHeadText = '{!errorMessageDirectiveText}',
            hasHeader,
            errorEventObject = new Object(),
            retSediVueObjArray = new Array(),
            retSediVueItem = new Object();
    
        if(acct.length === 0){
            hasAccount = false;
            j$(".noAccount").each(function(){
                j$(this).css('display','none');
            })
            j$(".noAccountShow").toggle();
   
        }
            
        if ((isBannerToBeHidden) && (isBannerToBeHidden === 'true')) {
            hasHeader = false;
            j$("#header").css("display", "none");   
        }
        
        function getEditableIcon() {
            console.log('in getEditableIcon...');
            var editIcon = "<div class='editableIconInline'><div class='slds-form-element'>" +
                    "<div class='slds-form-element__control slds-input-has-icon slds-input-has-icon--right'>" +
                        "<svg aria-hidden='true' class='slds-input__icon slds-icon-text-default'>" +
                            "<use xlink:href='{!URLFOR($Resource.slds)}/assets/icons/utility-sprite/svg/symbols.svg#edit'></use>" +
                        "</svg>" +
                    "</div>" +
                "</div></div>";
            return editIcon;
        }

        function getResultsFromControllerService(){
            console.log('in getResultsFromControllerService...');
            if(j$("#errorBlock").css('display')=='block')j$("#errorBlock").toggle();
            
            var d = new j$.Deferred();
            
            //remote action was getResults
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.SediVueControllerExtension.getResultsSync}', sapId,
                    function(result, event){
                        if(event.status){
                            if (event.result) {
                                if (event.result[0].messageReturn) {
                                    //when we have a messageReturn object, we received a message from SAP, not the
                                    //actual SediVue results. This can happen when the Account/SAP does not have any 
                                    //SediVue information (not an exception, just not participating...)
                                    console.log('event.result[0].messageReturn ===> ' + event.result[0].messageReturn); 
                                    j$("#wait").css("display", "none");
                                    j$(".innerT tr").remove();
                                    result.noResults = true;
                                    var row;
                                    row+="<tr><td colspan='9'nowrap><div id='NoRowsMessage'>No SediVue Results Found for this Account.</div></td></tr>";      
                                } else {                             
                                    console.log('event.result[0].description ===> ' + event.result[0].description);
                                    j$("#wait").css("display", "none");
                                    j$(".innerT tr").remove();
                                    var row='',
                                        combinedPendingCarrierAndTrackNumText,
                                        combinedHxCarrierAndTrackNumText,
                                        expandedDetsInRow;
                                    var compCount = 0;
                                    console.table(result);
                                    for(var i=0;i<result.length;i++){
                                        console.log('iterating through row ' + i);
                                        var num = i.toString();                                    
                                        //build up a reference to the returned object representation of SediVue items:
                                        retSediVueItem = new Object();
                                        retSediVueItem.shipTo = result[num].shipTo;
                                        retSediVueItem.materialNumber = result[num].materialNumber;
                                        retSediVueItem.currentInventory = result[num].currentInventory;
                                        retSediVueItem.reOrderPoint = result[num].reOrderPoint;
                                        retSediVueItem.newCurrentInventory = '';
                                        retSediVueItem.newReOrderPoint = '';
                                        retSediVueObjArray.push(retSediVueItem);
                                        
                                        rowNubbinBaseText ="<div class='slds-popover slds-nubbin--left' role='dialog'>" +
                                            "<div class='slds-popover__body'>" +
                                                "<div>" +
                                                    "<div>[]</div>" +
                                                    "<div></div>" +
                                                "</div>" +
                                              "</div>" +
                                            "</div>";
                                        
                                        combinedPendingCarrierAndTrackNumText='';
                                        combinedHxCarrierAndTrackNumText='';
                                        expandedDetsInRow = '';
                                        //ideally, we should have both a carrier and tracking number, combined.
                                        if (result[num].pendingTrackingCarrier && result[num].pendingTrackingCarrier.length > 0) {
                                            combinedPendingCarrierAndTrackNumText+=result[num].pendingTrackingCarrier + '<br/>';    
                                        }
                                        if (result[num].pendingTrackingNumber && result[num].pendingTrackingNumber.length > 0) {
                                            combinedPendingCarrierAndTrackNumText+=result[num].pendingTrackingNumber;
                                        }
                                        var editableIconSpan = getEditableIcon();
                                        row+="<tr>";
                                        row+="<td colspan='1' nowrap>"+ result[num].materialNumber +"</td>" +
                                             "<td colspan='1'>"+ result[num].description +"</td>" +
                                             "<td colspan='1' id='curInvItem" +  result[num].materialNumber + "' data-type='text' data-placement='right' data-title='Current Inventory'>"+ result[num].currentInventory + editableIconSpan + "</td>" +
                                             "<td colspan='1' id='reOrdItem" +  result[num].materialNumber + "' data-type='text' data-placement='right' data-title='Re-Order Point'>"+ result[num].reOrderPoint + editableIconSpan + "</td>" +
                                             "<td colspan='1'>"+ result[num].pendingDeliveryDate +"</td>" +
                                             "<td colspan='1'>"+ result[num].pendingOrderId +"</td>" +
                                             "<td colspan='1'>"+ result[num].pendingDeliveryNumber +"</td>" +
                                             "<td colspan='1'><div>"+ combinedPendingCarrierAndTrackNumText + "</div></td>";
                                            
                                       
                                        if (result[num].lastTrackingCarrier && result[num].lastTrackingCarrier.length > 0) {
                                            combinedHxCarrierAndTrackNumText+=result[num].lastTrackingCarrier + '<br/>';    
                                        }
                                        if (result[num].lastTrackingNumber && result[num].lastTrackingNumber.length > 0) {
                                            combinedHxCarrierAndTrackNumText+=result[num].lastTrackingNumber;
                                        }
    
                                        if (result[num].materialNumber &&  result[num].materialNumber.length > 0) {
                                            //NB: the hxDet parent div had a class of detailDiv...
                                           expandedDetsInRow+=
                                             "<div id='hxDet-" + result[num].materialNumber + "' class='hxDetWrapper' style='display:none;border:none;'>" +
                                               
                                                 "<div class='firstHxDetGroup'>" +
                                                    "<div>" +
                                                      "<div class='hxInnerDet'>Last Delivery Date</div>" + 
                                                      "<div>" + result[num].lastDeliveryDate + "</div>" +
                                                    "</div>" +
                                                    "<div>" +
                                                      "<div class='hxInnerDet'>Last Order ID</div>" + 
                                                      "<div>" + result[num].lastOrderId + "</div>" + 
                                                    "</div>" +
                                                 "</div>" + 
                                                 "<div class='secondHxDetGroup'>" +
                                                   "<div>" +
                                                      "<div class='hxInnerDet'>Last Delivery #</div>" + 
                                                      "<div>" + result[num].lastDeliveryNumber + "</div>" + 
                                                    "</div>" +
                                                    "<div>" +
                                                      "<div class='hxInnerDet'>Carrier &amp; Tracking #</div>" +
                                                      "<div>" + combinedHxCarrierAndTrackNumText + "</div>" + 
                                                    "</div>" +
                                                  "</div>" + 
                                             "</div>";
                                        }
                                        
                                        row+="<td colspan='2'>" +
                                                "<div class='switch'>" +
                                                "<input id='cmn-toggle-last-mat" + 
                                                    result[num].materialNumber +"' class='cmn-toggle cmn-toggle-round' type='checkbox' onclick='toggleHistoricalDetail(\"#hxDet-"+result[num].materialNumber + "\");'/>" +
                                                 "<label id='lastInfoFor" + result[num].materialNumber +"' for='cmn-toggle-last-mat" + result[num].materialNumber +"'></label>" +
                                                "</div>"+ expandedDetsInRow +
                                            "</td>";
                                            
                                        row+="</tr>";
                                   }

                                } 
                                j$("#table1 tbody").append(row);
                                if ((result.noResults) && (result.noResults === true)) {
                                    //don't display the number of records, as we didn't have any results returned
                                } else {
                                    j$("#res1Num").text(result.length + ' records');
                                }
                                
                                if(acct.length === 0){
                                    hasAccount = false;
                                    j$(".noAccount").each(function(){
                                        j$(this).css('display','none');
                                    })
                                }
                                
                                d.resolve();
                                
                                setEditableFields();
                                // end -- if we have results... 
                            } else if(event.result == null) {
                                j$("#wait").css("display", "none");
                                j$(".innerT tr").remove();
                                var row;
                                row+="<tr><td colspan='9'nowrap><div id='NoRowsMessage'>No SediVue Results Found for this Account.</div></td></tr>"; 
                                j$("#table1 tbody").append(row);
                                d.resolve();
                            }
                        } else if(event.type === 'exception'){
                            console.log('getResultsSync - exception error from the remoteAction call!');
                            j$("#wait").css("display", "none");
                            j$(".innerT tr").remove();
                            showMessageException(event, false);
                            d.resolve();  
                        } else{
                            console.log('getResultsSync - unhandled error remoteAction call!');
                            j$("#wait").css("display", "none");
                            j$(".innerT tr").remove();
                            var row;
                            row+="<tr><td colspan='9'nowrap><div id='NoRowsMessage'>Unable to obtain SediVue results from SAP for this Account.</div></td></tr>";
                            j$("#table1 tbody").append(row);
                            d.resolve();  
                        }
                    }

            )
            return d.promise();
        }

        
        function performEditableUIValidations(value) {
            console.log('in performEditableUIValidations...');
            if (j$.isNumeric(value) == '') {
                return 'Only numbers are allowed';
            }
            if (value.indexOf('.') !== -1 ) {
                return 'No decimals are allowed';     
            }
            if ((value.startsWith('0')) && (value.length > 1)) {
                return 'No leading zeroes are allowed';     
            }
        }
        
        
        function setEditableFields() {
                console.log('in setEditableFields...');
                //Sets editable and confgs, and callbacks for "Current Inventory"
                j$('td[id^=curInv]').each(function(){
                    console.log('curInv this id/value- ' + this.id + ' ' + this.value);   
                    j$(this).editable({
                        type: 'text', 
                        title: 'Current Inventory',
                        validate: function(value) {
                            return performEditableUIValidations(value);
                        },
                        url: function(params) {
                            if(params.value === 'abc') {
                                return d.reject('error message'); //returning error via deferred object
                            } else {
                                var idArr = this.id.split('Item'),
                                    svMaterialNumber,
                                    shipToSapId,
                                    svObjectItem;
                                if (idArr && idArr[1]) {
                                    svMaterialNumber = idArr[1];
                                }
                                svObjectItem = locateMatchingSediVueItemByMaterialNumber(svMaterialNumber); 
                                shipToSapId = locateShipTo();
                                if (svObjectItem && svObjectItem != null) {
                                    hideMessageSuccess();
                                    hideMessageException();
                                    //Sends a JSON object payload to POST back to the setData method
                                    //which will initiate a webservice call to the UPDATE operation for
                                    //SediVue for this particular MATERIAL NUMBER.
                                    svObjectItem[0].newCurrentInventory = params.value;
                                    console.table(svObjectItem);
                                    Visualforce.remoting.Manager.invokeAction(
                                        '{!$RemoteAction.SediVueControllerExtension.setData}', JSON.stringify(svObjectItem), shipToSapId,
                                          function(result, event){
                                            var resetReOrdItemSelectorString = '#curInvItem'+svObjectItem[0].materialNumber;
                                            if(event.status){
                                                if (event.result) { //success!
                                                    showMessageSuccess();
                                                    console.log('event.result = ' + event.result);
                                                    //resets the svObjectItem for the next go-around:
                                                    svObjectItem[0].currentInventory = params.value;
                                                    svObjectItem[0].newCurrentInventory = '';
                                                    event.resetReOrdItemSelectorString = resetReOrdItemSelectorString;
                                                    reAddEditIcon(event);
                                                    console.table(svObjectItem);
                                                }
                                            } else if(event.type === 'exception'){
                                                //var resetCurInvItemSelectorString = '#curInvItem'+svObjectItem[0].materialNumber;
                                                console.log('exception error from the remoteAction call!');
                                                event.resetCurInvItemSelectorString = resetReOrdItemSelectorString;
                                                event.resetCurInvItemValue = svObjectItem[0].currentInventory;
                                                showMessageException(event, true);
                                            } else {
                                                console.log('unhandled error from the remoteAction call!');
                                            }
                                      });  
                                } else {
                                    
                                }
                                
                            }
                        }

                    });
                });
                
                //Sets editable and confgs, and callbacks for "Re-Order Point"
                j$('td[id^=reOrd]').each(function(){
                    console.log('reOrd this id/value- ' + this.id + ' ' + this.value);
                    j$(this).editable({
                        type: 'text', 
                        title: 'Re-Order Point',
                        validate: function(value) {
                            return performEditableUIValidations(value);
                        },
                        url: function(params) {
                            if(params.value === 'abc') {
                                return d.reject('error message'); //returning error via deferred object
                            } else {
                                var idArr = this.id.split('Item'),
                                    svMaterialNumber,
                                    shipToSapId,
                                    svObjectItem;
                                if (idArr && idArr[1]) {
                                    svMaterialNumber = idArr[1];
                                }
                                svObjectItem = locateMatchingSediVueItemByMaterialNumber(svMaterialNumber); 
                                shipToSapId = locateShipTo();
                                if (svObjectItem && svObjectItem != null) {
                                    hideMessageSuccess();
                                    hideMessageException();
                                    //Sends a JSON object payload to POST back to the setData method
                                    //which will initiate a webservice call to the UPDATE operation for
                                    //SediVue for this particular MATERIAL NUMBER.
                                    svObjectItem[0].newReOrderPoint = params.value;
                                    console.table(svObjectItem);
                                    Visualforce.remoting.Manager.invokeAction(
                                        '{!$RemoteAction.SediVueControllerExtension.setData}', JSON.stringify(svObjectItem), shipToSapId,
                                          function(result, event){
                                            var resetReOrdItemSelectorString = '#reOrdItem'+svObjectItem[0].materialNumber;
                                            if(event.status){
                                                if (event.result) { //success!
                                                    showMessageSuccess();
                                                    console.log('event.result = ' + event.result);
                                                    //resets the svObjectItem for the next go-around:
                                                    svObjectItem[0].reOrderPoint = params.value;
                                                    svObjectItem[0].newReOrderPoint = '';
                                                    event.resetReOrdItemSelectorString = resetReOrdItemSelectorString;
                                                    reAddEditIcon(event);
                                                    console.table(svObjectItem);
                                                }
                                            } else if(event.type === 'exception'){ 
                                                console.log('exception error from the remoteAction call!');
                                                //var resetReOrdItemSelectorString = '#reOrdItem'+svObjectItem[0].materialNumber;
                                                event.resetReOrdItemSelectorString = resetReOrdItemSelectorString;
                                                event.resetReOrdItemValue = svObjectItem[0].reOrderPoint;
                                                showMessageException(event, true);
                                            } else {
                                                console.log('unhandled error from the remoteAction call!');
                                            }
                                      });  
                                } else {
                                
                                }
                                
                            }
                        }
                    });
                });
        }
        
        function locateMatchingSediVueItemByMaterialNumber(materialNumber) {
            var matchingObjectItem = j$.grep(retSediVueObjArray, function(e){ return e.materialNumber === materialNumber});
            if (matchingObjectItem && matchingObjectItem != null) {
                return matchingObjectItem;
            } else {
                return null;
            }
        }
        
        function locateShipTo() {
            if ((retSediVueObjArray) && (retSediVueObjArray[0]) && (retSediVueObjArray[0].shipTo)) {
                return retSediVueObjArray[0].shipTo
            } else {
                return null;
            }
        }
      
        
        function toggleHistoricalDetail(idForHxDetail) {
            console.log('in toggleHistoricalDetail...');
            var divForHxDetail = j$(idForHxDetail);
            if (divForHxDetail) {
                if (divForHxDetail.css('display') === 'none') {
                    divForHxDetail.css('display','block');
                } else if (divForHxDetail.css('display') === 'block') {
                    divForHxDetail.css('display','none');
                }
            }  
            
        }
        
        
        function hideMessageSuccess() {
            console.log('in hideMessageSuccess...');
            j$("#messageSuccess").css("display", "none");
        }
        
        function showMessageSuccess() {
            console.log('in showMessageSuccess...');
            j$("#messageSuccess").css("display", "block");
        }
        
        function hideMessageException() {
            console.log('in hideMessageException...');
            j$("#messageException").css("display", "none");
        }
        
        function reAddEditIcon(eventObj) {
            console.log('in reAddEditIcon...');
            if (eventObj) {
                var editableIconSpan = getEditableIcon(); 
                if (eventObj.resetCurInvItemSelectorString) {
                    j$(eventObj.resetCurInvItemSelectorString).append(editableIconSpan);
                }
                if (eventObj.resetReOrdItemSelectorString) {
                    j$(eventObj.resetReOrdItemSelectorString).append(editableIconSpan);
                }
            }
        }        
        
        function showMessageException(eventObj, isUpdateError) {
     
            console.log('in showMessageException...');
            errorEventObject = eventObj;
            
            var messageExceptionErrorToastText = 'Error',
                messageExceptionMoreDetailsLink = '';
            
            if (isUpdateError && isUpdateError === true) {
                //resets the UI field to it's original value, since we detected a failure.
                if (errorEventObject) {
                    var editableIconSpan = getEditableIcon(); 
                    if ((errorEventObject.resetCurInvItemSelectorString) && (errorEventObject.resetCurInvItemValue)) {
                        j$(errorEventObject.resetCurInvItemSelectorString).text(errorEventObject.resetCurInvItemValue);
                        j$(errorEventObject.resetCurInvItemSelectorString).append(editableIconSpan);
                    }
                    
                    if ((errorEventObject.resetReOrdItemSelectorString) && (errorEventObject.resetReOrdItemValue)) {
                        j$(errorEventObject.resetReOrdItemSelectorString).text(errorEventObject.resetReOrdItemValue);
                        j$(errorEventObject.resetReOrdItemSelectorString).append(editableIconSpan);
                    }
                }
                messageExceptionErrorToastText = 'An Error occurred while updating SediVue data.';
                messageExceptionMoreDetailsLink = '<a href="#" onclick="showExceptionDetails(true);return false;">Click for more details</a>.';
            } else { //not an update error; error upon initial read
            	messageExceptionErrorToastText = 'Unable to obtain SediVue results from SAP for this account.'; 
            	messageExceptionMoreDetailsLink = '<a href="#" onclick="showExceptionDetails(false);return false;">Click for more details</a>.';   
            }
            
            j$('#messageExceptionErrorToastText div').remove();
            j$('#messageExceptionErrorToastText').append('<div>' + messageExceptionErrorToastText + ' ' + messageExceptionMoreDetailsLink + '</div>');
            j$("#messageException").css("display", "block");
        }
        
        function showExceptionDetails(isUpdateError) {

            console.log('in showExceptionDetails...' + errorEventObject);

            var errorMessageHeader = 'Error';
            var errorMessageDetails = '';
            if (isUpdateError && isUpdateError === true) {
                errorMessageHeader = 'An Error occurred while updating SediVue data';
            }
            if (errorEventObject) {
                errorMessageDetails+='<div id="errorMessageDetHeader">' + errorMessageHeadText + '</div>' +
                    '<div id="errorMessageDetailsWrapper"><div class="errDetMsgWrapper">';
                if (errorEventObject.statusCode) {
                    errorMessageDetails+='<div class="messageInternalsDetailsLabel errDetStatCodeLabel">Status Code</div>' +
                        '<div class="messageInternalsDetailsText errDetStatCodeText">'+errorEventObject.statusCode+'</div>';
                }
                if (errorEventObject.type) {
                    errorMessageDetails+='<div class="messageInternalsDetailsLabel errDetTypeLabel">Type</div>' +
                        '<div class="messageInternalsDetailsText errDetTypeText">'+errorEventObject.type+'</div>';
                }
                if (errorEventObject.message) {
                    errorMessageDetails+='<div class="messageInternalsDetailsLabel errDetMsgLabel">Error Message</div>' +
                        '<div class="messageInternalsDetailsText errDetMsgText">'+errorEventObject.message+'</div>';
                }
                if (errorEventObject.action) {
                    errorMessageDetails+='<div class="messageInternalsDetailsLabel errDetActionLabel">Action</div>' +
                        '<div class="messageInternalsDetailsText errDetActionText">'+errorEventObject.action+'</div>';
                }
                if (errorEventObject.method) {
                    errorMessageDetails+='<div class="messageInternalsDetailsLabel errDetMethodLabel">Method</div>' +
                        '<div class="messageInternalsDetailsText errDetMethodText">'+errorEventObject.method+'</div>';
                }
                if (errorEventObject.data) {
                    errorMessageDetails+='<div class="messageInternalsDetailsLabel errDetDataLabel">Data</div>' +
                        '<div class="messageInternalsDetailsText errDetDataText">'+JSON.stringify(errorEventObject.data)+'</div>';
                } 	
               errorMessageDetails+='</div></div>';
           }
            
            var errorMessageModal = "<div id='messageExceptionDetails' class='messageExceptionDetails'>" +
                "<div aria-hidden='false' aria-labelledby='prompt-heading-id' aria-describedby='prompt-message-wrapper' role='alertdialog' class='slds-modal slds-modal--prompt slds-fade-in-open'>" +
                    "<div class='slds-modal__container slds-modal--prompt' role='document' id='prompt-message-wrapper' tabindex='0'>" +
                      "<div class='slds-modal__header slds-theme--error slds-theme--alert-texture'>" +
                        "<h2 class='slds-text-heading--medium' id='prompt-heading-id'>" + errorMessageHeader + "</h2>" +
                      "</div>" +
                      "<div class='slds-modal__content slds-p-around--medium messageInternals'>" +
                        "<div>" +
                          "<h2>Error Details</h2>" +
            
                			"<p>" +
                				errorMessageDetails +
            				"</p>" +
                      
                //"<p>Message: " + errorEventObject.message + "</p>" +
                        "</div>" +
                      "</div>" +
                      "<div class='slds-modal__footer slds-theme--default'>" +
                        "<button class='slds-button slds-button--neutral' onclick='hideExceptionDetails();return false;'>Close</button>" +
                      "</div>" +
                    "</div>" +
                  "</div>" +
                  "<div class='slds-backdrop slds-backdrop--open'></div>" +
                "</div>";
            var errorMessageModalContainer = "<div id='errorMessageModalContainer'>" + errorMessageModal + "</div>";

            j$("#messageException").append(errorMessageModalContainer);
            
        }
        
        function hideExceptionDetails() {
            j$("#errorMessageModalContainer").remove();
        }
        
        function showMessageNoResultsFromSAP() {
            console.log('in showMessageNoResultsFromSAP...');
            j$("#messageNoResultsFromSAP").css("display", "block");
        }
        
        function hideMessageNoResultsFromSAP() {
            console.log('in hideMessageNoResultsFromSAP...');
            j$("#messageNoResultsFromSAP").css("display", "none");
        }

        function doAsyncGetResultsFromControllerService() {
            console.log('in doAsyncGetResultsFromControllerService...');
            setTimeout(function(){ 
                getResultsFromControllerService(); 
            }, 1000);
            console.log('after setTimeout - the call to setTimeout - non blocking JS - is underway...');
        };
        
        var entityMap = {"&": "&amp;","<": "&lt;",">": "&gt;",'"': '&quot;',"'": '&#39;',"/": '&#x2F;'};
        function escapeHtml(string) {
            return String(string).replace(/[&<>"'\/]/g, function (s) {
                return entityMap[s];
            });
        }

        </script>
    </html>
</apex:page>