<apex:page sidebar="false"  showHeader="false" standardStylesheets="false">
    <apex:includeScript value="/support/console/36.0/integration.js"/>
    <apex:includeScript value="/soap/ajax/36.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/36.0/apex.js"/>
    <style>
        body {
            background-color: #FFF;
            font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;
            font-size: 12.5px;
            color: #006cb5;
            font-weight: normal;
        }
        .supportLink {
            text-decoration: underline;
        }


    </style>
    <script>
        function onClickOpenChangeItLink() { 
			sforce.connection.sessionId = "{!$Api.Session_ID}";
            //The URL of ChangeIt! is referenced in a hierarchial 
            //Custom Setting - with only one Organization-wide value as default.
            var hasChangeItURL = false;
            var queryChangeItUrl = "SELECT websiteURL__c FROM ChangeItURL__c"; 
			var changeItQuery = sforce.connection.query(queryChangeItUrl); 
			var changeItRecords = changeItQuery.getArray("records"); 
            var pathForLink; 

			for(var i=0; i<changeItRecords.length; i++){ 
                if (changeItRecords[i].websiteURL__c) {
                    pathForLink = changeItRecords[i].websiteURL__c;
                    hasChangeItURL = true;
                	break;
                }
			} 
            
            if (hasChangeItURL) {
            	if (sforce.console.isInConsole()) {
                sforce.console.openPrimaryTab(null, pathForLink, true, 
                                          'SFDC Support', openSuccess, 'newChangeItTabchangeIt-001'); 
                } else {
                    window.open('../' + pathForLink,'_blank');
                }
            
                function openSuccess(result) {
                    if (result.success == true) {
                        sforce.console.setCustomConsoleComponentVisible(false);
                    } else {
                        console.log('Primary tab cannot be opened');
                    }
                }
            }
            
        };
    </script>
    <apex:pageBlock >
        <apex:pageBlockSection collapsible="false" columns="1" title="IDEXX Salesforce Support">
            <apex:outputLink styleClass="supportLink" onClick="onClickOpenChangeItLink(); return false;" value="#" target="_parent">SFDC Support</apex:outputLink>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>