<apex:page id="UnlockSubtabsInConsole" standardStylesheets="false" showHeader="false" applyBodyTag="false" docType="html-5.0" applyHtmlTag="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <!---global scripts--->
            <apex:includeScript value="{!URLFOR($Resource.JQuery_Lightness_1_12, 'jquery-ui-1.12.1.custom/external/jquery/jquery.js')}"/>
            <apex:includeScript value="/soap/ajax/38.0/connection.js" />
            <apex:includeScript value="/support/console/38.0/integration.js"/>
            <apex:includeScript value="{!URLFOR($Resource.JQuery_Lightness_1_12, 'jquery-ui-1.12.1.custom/jquery-ui.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.Bootstrap_4, 'bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js')}" />
            <script>

                sforce.console.getEnclosingTabId(function(result) {
                    sforce.console.setTabTitle('Unlock Subtabs', result.id);
                });

                var $j = jQuery.noConflict();
                function unlockSubtabs() {
                    console.log('in unlock subtabs...');
                    for (var i = 0; i < 100; i++) {
                        console.log('iterating - i = ' + i);
                        var subTabContainerId = 'scc-st-' + i;
                        console.log(' subTabContainerId = ' + subTabContainerId);
                        sforce.console.disableTabClose(false, subTabContainerId, null);
                    }
                    var subtabButton = $j('#unlockAllSubtabs');
                    var subtabMessage = $j('#subtabsUnlockedMessage');
                    if (subtabButton && subtabMessage) {
                        subtabButton.hide();
                        subtabMessage.show();
                    }

                    setTimeout(function () {
                        subtabButton.show();
                        subtabMessage.hide();
                    }, 5000);
                }

            </script>
            <!----styles-->
            <apex:stylesheet value="{!URLFOR($Resource.Bootstrap_4, 'bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.slds, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
            <style>
                .hiddenText {display: none;}
            </style>
        </head>
        <body style="margin-top:5px;">
            <div class="slds container-fluid">
                <div><h4>Utilities</h4></div>
                <div>
                    <button id="unlockAllSubtabs" onclick="unlockSubtabs();" class="slds-button">Click to unlock Subtabs</button>
                    <div id="subtabsUnlockedMessage" class="hiddenText">Subtabs are now unlocked.</div>
                </div>
            </div>
        </body>

    </html>
</apex:page>