<apex:page docType="html-4.01" sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false" controller="CXiIntercept3">
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta http-equiv="cache-control" content="no-cache, no-store, max-age=0, must-revalidate" />
            <meta http-equiv="Pragma" content="no-cache" />
            <title>XiIntercept v3 for SalesForce - Response</title>
            <apex:includescript value="{!URLFOR($Resource.XIeCommerce3DomainJS)}" />
        </head>
        <body onload="setToken();">
            <script type="text/javascript">
                document.domain = getRelaxedDomain(location.hostname, parseInt("2"));
                var strToken = '{!CreditCardToken}';

                function setToken()
                {
                    try
                    {
                         document.getElementById("xiToken").value = strToken;
                        if (window.parent.document != window.document)
                        {
                            window.parent.showToken(strToken);
                        }
                    }
                    catch(err)
                    {
                    }
                }               
            </script>
            <h1>Generated Token</h1><br/>
            <textarea id="xiToken" rows="1" cols="40" readonly="readonly"></textarea>
        </body>
    </html>
</apex:page>