<apex:page >
    <script type='text/javascript' src="{!URLFOR($Resource.MapAnything, 'js/jquery-1.8.3.min.js')}"></script>
    <script>
        $('document').ready(function(){
            
            //console.log(window.location);
            //setAccessToken('Hello Worlds');
            if (window.opener != null && !window.opener.closed) {
                //console.log(window.opener.location);
                var hash    = window.location.hash.substr(1);
                var access_token = hash.substr(hash.indexOf('access_token=')).split('&')[0].split('=')[1];
                var plotLayer = hash.substr(hash.indexOf('plot_layer=')).split('&')[0].split('=')[1];
                window.opener.setAccessToken(access_token);
                if(access_token != null && access_token != '' && plotLayer)
                {
                    //window.opener.setAccessToken(access_token);
                    if(plotLayer){
                        $(window.opener.document).find('#{!$CurrentPage.parameters.ARCGISLayerId}').find('.ftu-unit-left').click();
                    } else
                    {
                        $(window.opener.document).find('#connectWebMap').click();
                    }
                }
            }
            window.close();
        });
        
    </script>
    
</apex:page>